script#comments-template(type="text/x-template")
  .comments
    div(v-repeat="comment:comments")
      bb-comment(comment="{{comment}}")

    hr

    bb-comment-editor(v-show="isAuthenticated()"
      placeholder="Leave a comment here.")

    h3(v-show="!isAuthenticated()")
      | <button class="success" v-on="click:login">Login</button> to comment.
