script#comments-template(type="text/x-template")
  .comments
    div(v-repeat="comment:comments")
      bb-comment(comment="{{comment}}")

    hr

    .comment(v-show="isAuthenticated()")
      bb-avatar(name="{{getUserName()}}")

      .comment-wrapper
        .comment-header
          .actions
            button.success(v-on="click:comment()")
              .fa.fa-envelope-o
              | Post Comment
        .comment-content
          markdown-editor(field="text" placeholder="Leave a comment here.")

    h3(v-show="!isAuthenticated()")
      | <button class="success" v-on="click:login">Login</button> to comment.
