script#comments-template(type="text/x-template")
  .comments
    div(v-repeat="comment:comments")
      bb-comment(comment="{{comment}}")

    hr

    .comment(v-show="isAuthenticated()")
      bb-avatar(name="{{getUserName()}}")

      .comment-wrapper
        .comment-content
          markdown-editor(field="text" placeholder="Leave a comment here."
            buttons="{{postButtons}}" max-length=10000)

    h3(v-show="!isAuthenticated()")
      | <button class="success" v-on="click:login">Login</button> to comment.
