script(type='text/ng-template', id='comments.html')
  .comments
    h3 Comments
    h3.weak(v-show='!comments.length') (No comments)

    .comment(ng-controller='CommentCtrl' ng-repeat='comment in comments')
      a(href='/{{comment.owner}}')
        img.avatar(v-attr="src:comment.avatar")

      .comment-wrapper
        .comment-header
          a.owner(href='/{{comment.owner}}') {{comment.owner}}
          span {{' '}}commented {{comment.created | TimeSince}}.

          .actions(v-show='!editing')
            a.fa.fa-edit(tooltip='Edit comment' v-show='is_owner'
              v-on="click:edit()")
            a.fa.fa-trash-o(tooltip='Delete comment' v-show='is_owner'
              v-on="click:askRemove()")

          .actions.btn-group(v-show='editing')
            button.btn(v-on="click:cancel()") Cancel
            button.btn.btn-primary(v-on="click:save()") Save

          bb-modal(title='Delete comment?' show='show_modal_remove')
            .footer
              .btn-group
                button.btn(v-on="click:cancelRemove()") Cancel
                button.btn.btn-primary(v-on="click:remove()") Delete

        .comment-content
          markdown(v-show='!editing' v-model='comment.text')
          markdowneditor(v-show='editing' v-model='comment.text')

    .comment(v-show='user.authenticated')
      img.avatar(v-attr="src:user.avatar")

      .comment-wrapper
        .comment-header
          .actions.btn-group
            button.btn.btn-primary(v-on="click:comment()") Post Comment

        .comment-content
          markdowneditor(v-model='text')

    h3.weak(v-show='!user.authenticated') Login to comment
