script#comparison-page-template(type="text/x-template")
  bb-page-layout
    .page-content
      bb-comparison

      center
        a.kickstarter(href="/kickstarter", style="position:relative")
          img(src="/images/buildbotics_now_on_kickstarter.png", width=128)
        mailchimp-optin
