script#controller-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-puzzle-piece(title="Buildbotics CNC Controller")
        | About the Buildbotics CNC Controller

    .page-content
      center
        a.kickstarter(href="/kickstarter", style="position:relative")
          img.header-image(
            src="/controller/buildbotics_controller_front_right_lit-520.png")
          img(src="/images/buildbotics_now_on_kickstarter.png", width=128)

      h1 Intro

      p
        | Consumer grade desktop CNCs, 3D printers and LASER cutters are
        | becoming more and more prevalent, yet most of these systems come with
        | low quality, feature poor electronics or high price tags.  We have
        | created an Open-Source CNC controller with an advanced stepper motor
        | drive system comparable to much more expensive commercial systems, for
        | a fraction of the price.

      p
        | The Buildbotics CNC controller is built into a rugged, fanless,
        | aluminum enclosure making it safe and reliable in harsh environments.
        | The accompanying wiring system makes the usual headache of connecting
        | all of the components of CNC systems a breeze.
        | Configuration and control from a smartphone or laptop is a piece of
        | cake using the built-in Web app.

      p
        | Whether upgrading an existing system, building your own machine from
        | scratch or designing a new CNC product, the Buildbotics CNC controller
        | offers easy integration, high-end performance, a complete Open-Source
        | software suite and a community of users right out of the box.

      p
        | The next few paragraphs will go over the key features of the
        | Buildbotics CNC controller and why you should consider using it
        | for your next CNC build or retrofit.

      a(name="comparison")
      h1 Comparison

      table.comparison
        tr
          th &nbsp;
          th
            img(
              src="/controller/buildbotics_controller_front_right_lit-520.png")
          th
            img(src="/controller/G540.png")
          th
            img(src="/controller/smoothieboard.png")
          th
            img(src="/controller/tinyg.png")

        tr
          th
          th Buildbotics
          th Gecko 540
          th Smoothieboard
          th TinyG

        tr
          th
            .fa.fa-usd
            | Assembled board
          td $250
          td N/A
          td $135 <sup>(1)</sup>
          td $130

        tr
          th
            .fa.fa-usd
            | Complete with enclosure
          td $450 <sup>(2)</sup>
          td $299
          td N/A
          td N/A

        tr
          th
            .fa.fa-code-fork
            | Open-Source
          td.yes
          td.no
          td.yes
          td.yes

        tr
          th
            .fa.fa-bolt
            | SD card storage
          td 16GiB
          td.no
          td Not included
          td

        tr
          th
            .fa.fa-bolt
            | Max current
          td 6A
          td 3.5A
          td 2A
          td 2.5A

        tr
          th
            .fa.fa-bolt
            | Max voltage
          td 36V
          td 50V
          td 24V
          td 30V

        tr
          th
            .fa.fa-microchip
            | Max microstepping
          td 128
          td 10
          td 32
          td 8

        tr
          th
            .fa.fa-heartbeat
            | Max step rate
          td 250k/sec
          td 200k/sec <sup>(3)</sup>
          td 100k/sec
          td 50k/sec

        tr
          th
            .fa.fa-usb
            | USB ports
          td 4
          td.no
          td 1 <sup>(4)</sup>
          td 1 <sup>(4)</sup>

        tr
          th
            .fa.fa-arrow-circle-left
            | Digital inputs
          td 10
          td 4
          td 6
          td ?

        tr
          th
            .fa.fa-arrow-circle-left
            | Analog inputs
          td 1
          td.no
          td 4
          td ?

        tr
          th
            .fa.fa-arrow-circle-right
            | Switched load outputs
          td 2@15A <sup>(5)</sup>
          td 2@1A
          td 3@12.5A <br/> 3@3A <sup>(6)</sup>
          td ?

        tr
          th
            .fa.fa-cogs
            | Control interface
          td Web/JSON
          td Parallel port
          td Serial over USB or Ethernet
          td USB

        tr
          th
            .fa.fa-cog
            | VFD spindle control
          td Full <sup>(7)</sup>
          td Voltage <sup>(8)</sup>
          td PWM <sup>(9)</sup>
          td.no

        tr
          th
            .fa.fa-cog
            | PWM spindle control
          td.yes
          td.no
          td.yes
          td.yes

        tr.none
          th
            .fa.fa-compress
            | Bus interfaces
          td RS232, RS485, I2C, SPI, HDMI
          td none
          td RS232, I2C, SPI
          td ?

        tr
          th
            .fa.fa-random
            | Ethernet
          td.yes
          td.no
          td.yes
          td.no

        tr
          th
            .fa.fa-bolt
            | Electrical isolation
          td.yes
          td.yes
          td.no
          td.no

        tr
          th
            .fa.fa-bolt
            | Short-circuit protection
          td.yes
          td.yes
          td.no
          td.no

        tr
          th
            .fa.fa-bolt
            | Reverse voltage protection
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-bolt
            | Over-current protection
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-thermometer-full
            | Over-temp shutdown
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-download
            | Upgradable over network
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-gamepad
            | USB gamepad support
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-camera
            | USB camera support
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-wifi
            | USB wifi support
          td.yes
          td.no
          td.no
          td.no

        tr
          th
            .fa.fa-line-chart
            | S-Curve acceleration
          td.yes
          td.no
          td.no
          td.yes

        tr
          th
            .fa.fa-star
            | Pre-made cabling
          td.yes
          td.no
          td.no
          td.no

      div.footnote
        | <span>1</span> Approximate price of pre-assembled 4x board.

      div.footnote
        | <span>2</span> Pre-assembled controller with RaspberryPi 3, 16GiB
        | micro SD card, LCD screen and internal cabling.

      div.footnote
        | <span>3</span> Refers to maximum step input rate.  Does not produce
        | step pulses.

      div.footnote
        | <span>4</span> USB device mode supports mass-storage, serial
        | and DFU programming.  Cannot host other USB devices.

      div.footnote
        | <span>5</span> Self-protected VNQ5027AK-E MOSFETs.
        | Total controler current draw auto limited to 25A.

      div.footnote
        | <span>6</span> Unprotected AOT240L and ZXMN4A06GTA MOSFETs.

      div.footnote
        | <span>7</span> Configure and control VFD over built-in two-wire RS485.

      div.footnote
        | <span>8</span> 0-10v output for VFD speed control.

      div.footnote
        | <span>9</span> Requires <a href="https://raw.githubusercontent.com/Bouni/smoothieboard-doku/master/analog-vfd-board-pcb.png">additional circuits</a> to control VFDs.

      center
        mailchimp-optin
        img(src="/controller/buildbotics_anatomy-wo_banner.png")

      h1 Physical Characteristics
      p
        | The Buildbotics CNC controller comes in a 190x157x70mm
        | (7 1/2 x 6 3/16 x 2 3/4in) anodized aluminum case which can be
        | easily attached to a CNC cabinet using four screws.  Its fanless
        | operation means you don't have to worry about mechanical failure
        | or cleaning air filters.

      h1 Stepper Motor Drive
      p
        | Four separate channels drive most common NEMA 17 or 23 stepper motors
        | at up to 30v at up to 6A each.  128 microstepping provides smooth
        | operation and high accuracy and repeatability.  With step rates in
        | excess of 200k/sec, very high speeds are achievable with.  S-curve
        | acceleration smooths out starts and stops, reducing mechanical wear
        | and further increases achievable motor speeds.

      p
        | The first three drive channels are ideal for 3-axis Cartesian systems.
        | The forth channel can be used in parallel to drive axes with multiple
        | motors, as a fourth rotary axis or as a filament feeder in a 3D
        | printer.

      h1 User Interfaces
      p
        | The Buildbotics CNC controller can be controlled using several
        | different software interfaces.  These include the Web interface,
        | USB gamepad and LCD screen and CAMotics CNC simulator.

      h2 Web Interface
      center
        img(width=400, src="/controller/controller_web_interface.png")

      p
        | Using the Web interface the controller can be configured and commanded
        | over WiFi or wired Ethernet from any computer or smartphone with a
        | browser.  The machine can be operated completely from this interface.
        | Configuration tabs provide access to motors, spindles and switch
        | settings.  Controller configurations can be backed up and restored or
        | copied to other controllers.  The admin tab allows you to check for
        | software upgrades containing bug fixes and new features that can be
        | loaded over the network with the click of a button.

      h2 Gamepad & LCD Interface
      center
        img(width=300, src="/controller/gamepad.png")
        img(width=400, src="/controller/lcd.png")

      p
        | For a more hands on approach, a USB gamepad can be plugged in to one
        | of four USB ports to provide highly sensitive and accurate tool head
        | positioning and machine zeroing.  In combination with front panel LCD
        | screen, GCode jobs can be selected, started and stopped.  Position,
        | speed, feed, tool and status information are displayed on the LCD.

      h2 CAMotics
      center
        img(width=400, src="/controller/camotics.png")

      p
        | Running CNC programs is especially easy using the Open-Source CNC
        | simulation software CAMotics.  After designing, simulating and
        | configuring your CNC project for your machine, the
        | resulting GCode can be sent directly to the CNC controller for
        | execution.  CNC movement is synchronized in the simulator to provide
        | useful feedback about the machine position in the project and
        | how much longer it should take to complete.

      h1 Power system
      p
        | Some special attention must be given to the power system as a lot of
        | engineering went in to making the Buildbotics CNC controller safe to
        | operate, reliable and compatible with a wide range of power sources.
        | Some of the safety features include: active current limiting,
        | short-circuit protection, reverse voltage protection, over-temperature
        | shutdown, ESD protection, and isolation between the USB &amp;
        | Ethernet ports and the high-voltage, high-current motor drive system.

      center
        img(width=400, src="/controller/meanwell_c6p_adapter.png")
        img(width=400, src="/controller/meanwell_enclosed_power_supply.png")

      p
        | Power supplies from 12-30v can be used to supply up to 25A of current
        | to motors and external loads such as vacuum tables, heated beds or
        | coolant systems.  The controller uses a standard C6P plug making it
        | pin compatible with convenient high watt wall adapters from Mean Well.
        | Our premade power cables also make it easy to attach to other power
        | supplies.

      p
        | The 25A current budget is actively monitored and controlled to make
        | sure the system is never loaded to dangerous levels.  As an added
        | precaution the controller's internal temperature is monitored to
        | shutdown the system in case temperatures become unsafe.

      p
        | You can rest assured that devices attached to the USB or Ethernet
        | ports are isolated from short-circuits, reversed wiring or inductive
        | kickbacks caused by accidentaly disconnecting powered motors.

      h1 Spindle Control

      center
        img(width=400, src="/controller/pwm_spindle.png")
        img(width=400, src="/controller/vfd_and_spindle.png")

      p
        | Two types of common spindle drivers can be used to regulate spindle
        | speeds.  These are PWM spindles drivers and RS485 controlled VFD
        | drivers.

      h2 PWM Spindles
      p
        | The PWM interface provides spindle enable, direction and
        | speed control outputs to drive many common drivers for small to
        | medium sized spindles.  Timing parameters can be configured through
        | the Web interface to match most drivers needs.

      h2 RS485 VFD Spindles
      p
        | The RS485 interface allows
        | for direct control of VFDs for high power, low runout, water or air
        | cooled spindles.  A twisted pair of wires is all it takes to connect
        | this type of spindle.  Water cooling systems can be switched on via
        | the load switches.

      h1 Load Switches

      p
        | Two high current MOSFET switches allow driving external loads such as
        | coolant systems, 3D printer heated beds or hot-ends, Vacuum tables,
        | dust collection systems, etc. from the same power supply the motors
        | use.  These switches are protected from short-circuits and over
        | current.  If you need to control AC voltages, inexpensive SCRs can be
        | attached to the low-voltage switch outputs on the I/O connector.
        | The load switches can be controlled on-the-fly via GCode commands.

      h1 25-pin I/O Connector

      center
        img(width=400, src="/controller/DB25-M2_breakout.png")
        img(width=400, src="/controller/backpanel.png")

      p
        | The backpanel sports a 25-pin DSub I/O connector which mates with
        | a screw-terminal I/O expander for easy wiring.
        | This connector provides inputs for emergency stop,
        | up to eight limit switches and extern probes for measuring tool
        | length or z-axis surface mapping.  A fault output signal can be used
        | to alert other equipment about emergency stop conditions.

      h1 Integrated wiring system

      center
        img(width=400, src="/controller/cables_labeled.png")

      p
        | One of the most convenient features of the Buildbotics CNC controller
        | is that it comes with it's own premade cables for the motors, load
        | switches and power supply.  This greatly reduces wiring complexity and
        | cuts down on assembly time and additional cost.

      p
        | These cables have a Molex connector on one end, that snaps in to the
        | back of the controller, and bare wires on the other end, which can be
        | easily attached to external devices with butt connectors, wire nuts
        | or other connectors.  Cables range in length from 1.5m (5ft) to 4.5m
        | (15ft).

      h1 Summary

      p
        | The Buildbotics CNC controller offers advanced stepper motor drivers,
        | backed by a safety conscious and reliable power system, in a
        | compact anodized aluminum enclosure.  It is supported by a suite of
        | free and Open-Source software for designing, simulating and running
        | CNC programs and is easy to command and control from any smartphone,
        | laptop or desktop computer.  Through its various backpanel
        | connections, it integrates a wide range of CNC components that can
        | be connected with the provided preassembled cables enabling
        | you to build 3D printers, LASER cutters, water jets, plasma torches
        | or whatever CNC systems you dream up.  By purchasing this controller
        | you will not only be buying a great product but you will be supporting
        | continued development of projects like the CAMotics CNC simulator and
        | further development of the Buildbotics controller itself.

      h1 Availability

      p
        | The Buildbotics CNC controller is currently in pre-production beta
        | testing.  It is available&nbsp;
        a(href="/kickstarter") on Kickstarter through September, 2017.
