script#controller-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-puzzle-piece(title="Buildbotics CNC Controller")
        | About the Buildbotics CNC Controller

    .page-content
      img(src="/controller/buildbotics_controller_with_reflection.png")

      h1 Availability

      p
        | We are currently working on a small production run of about 50 units.
        | These will be available for direct sale in January, 2018.
        | <a href="/mailing-list">Sign up for our mailing list</a> to keep
        | informed.

      mailchimp-optin

      h1 The Buildbotics Open-Source CNC controller

      p
        | The Buildbotics CNC controller controller achieves record breaking
        | speeds on existing DIY hardware while setting a new bar for
        | reliability. This controller's flexibility makes it easy to construct
        | CNC mills, 3D printers and LASER cutters, opening the world of high
        | performance benchtop-scale manufacturing to many new Makers.

      p
        | While many Maker tools have advanced at a rapid pace, CNC builders
        | have come to expect Open-Source CNC controllers to come as unassembled
        | kits, often with exposed circuit boards. The Buildbotics controller is
        | <i>different</i>. It is protected by a rugged aluminum box and comes
        | with it’s own cables for connecting stepper motors and a wide array of
        | cutting and extruding tools.

      h1 Reliable

      p
        | In CNC control applications, reliability is a huge concern. Yet, many
        | inexpensive CNC controllers were designed with little or no attention
        | to electrical safety. The Buildbotics controller is protected from
        | short-circuits, reverse voltage
        | and current overloads. Thermal protection was also considered. Due to
        | the careful selection of high-quality electronic components, the
        | controller does not need a fan to cool itself, even while driving 6
        | amp motor loads. Going fanless not only eliminates noise but also
        | avoids sucking in dust and debris.

      h1 Printer port not required

      p
        | The typical lack of electrical protection in previous Open-Source CNC
        | controllers has earned them a poor reputation. For this reason, CNC
        | builders often still rely on decades old stepper motor drivers which,
        | although robust, lack modern features or even basic
        | programmability. Such drivers are tethered to a dedicated desktop PC
        | over a <i>printer</i> cable. Just finding a computer with a printer
        | port is difficult these days and tuning a PC to produce stepper motor
        | pulses which are both smooth and fast is a black art.

      h1 Wired or WiFi Networking

      p
        | The Buildbotics controller, on the other hand, offers a modern Web
        | interface accessible from a browser over a local network or WiFi. It’s
        | dedicated hardware is able to achieve smooth step rates in excess of
        | <i>250,000 per second</i>, with no tuning. CNC programs, even
        | gigabytes in size, can be uploaded to the controller and run without
        | further support from the remote computer. Whole networks of
        | Buildbotics controllers can be managed from a single laptop computer.


      img(src="/controller/buildbotics_network.png")
      .caption Manage a shop full of tools with Buildbotics controllers.

      h1 Camera, Gamepad, VFDs. . .

      p A whole slew of features are now available in one package, including:
      ul
        li Remote monitoring by USB web camera.
        li Tool head positioning via a USB gamepad.
        li Spindle speed control with PWM.
        li Full control of high-speed VFD spindle drivers over built-in RS485.
        li
          | Heated 3D printer bed or coolant system control via two 15 amp
          | switches.

      img(src="/controller/buildbotics_anatomy.png")
      .caption The brain at the center of a CNC machine.

      h1 Software Included

      p
        | Supporting software includes the impressive Open-Source CNC simulator,
        | CAMotics. CAMotics displays 3D previews of the cut workpiece. After
        | sending GCode directly to the controller, it shows continuously
        | updated tool position and time estimates. Compatible software like
        | FreeCAD, LibreCAD and Inkscape provide a completely Open-Source
        | toolchain for designing, simulating and running CNC jobs.

      video(autoplay, loop, width=600)
        source(src="/controller/camotics.mp4", type="video/mp4")
      .caption CAMotics Open-Source CNC simulator

      h1 RaspberryPi 3 Included

      p
        | Inclusion of a Raspberry Pi 3 running Linux and a 16GiB microSD card
        | is particularly exciting. This platform has massive potential for
        | integration with existing Open-Source software. For example, a
        | high-speed pick-n-place machine with camera support could be quickly
        | realized through integration with the OpenPnP project. Integrations
        | with Octoprint and LaserWeb are also on the horizon.

      a(name="comparison")
      h1 Comparison
      bb-comparison

      a(name="docs")
      h1 Documented

      - var docver = "-draft-20171226";
      - var docbase = "/controller/buildbotics_cnc_controller-";
      ul
        li
          a(target="_blank",
            href=docbase + "quick_start_guide" + docver + ".pdf")
            | Quick Start Guide
          | &nbsp;(Draft)
        li
          a(target="_blank", href=docbase + "datasheet" + docver + ".pdf")
            | Datasheet
          | &nbsp;(Draft)
        li
          a(target="_blank", href=docbase + "user_manual" + docver + ".pdf")
            | User Manual
          | &nbsp;(Draft)

      p
        | We are still working on perfecting our documentation but we realize
        | how essential good documentation is.  The above links provide early
        | access for those interested in getting a headstart on working with
        | the Buildbotics CNC controller.

      h1 Tested

      p
        | This controller has already been successfully
        | tested in several CNC builds. We built and
        | filmed the construction of a Taig CNC mill, an OX CNC router, a K40
        | LASER upgrade and a Dyna Myte 2400 retrofit. So far, the results are
        | impressive. We achieved a record breaking speed on the OX of 2,000
        | inches per minute shortly after the machine was assembled. We have
        | released these films on our <a
        | href="https://www.youtube.com/channel/UC_onc2im9IrG1RxJ3CZnArw">
        | Youtube channel</a>.

      img(src="/controller/cncs_we_built.png")

      h1 Builds We've Tested
      h2 The Taig CNC Mill

      video(autoplay, loop, width=600)
        source(src="/controller/taig_logo_cut.mp4", type="video/mp4")

      p
        | The Taig CNC mill is one of our favorites. With very little effort, we
        | were able to connect the stepper motors to the Buildbotics controller
        | and get this machine up and running. Spindle control, limit switches
        | and an EStop button can also be added with a little more work.

      h2 The OX CNC Router

      video(autoplay, loop, width=600)
        source(src="/controller/ox_logo_cut.mp4", type="video/mp4")

      p
        | When we paired the Buildbotics controller with a <a
        | href="https://www.smw3d.com/ox-cnc-kit/">large format OX CNC</a>
        | we were surprised by it’s speed. Simply by connecting up the motors
        | and configuring them using the Buildbotics Web interface, we were able
        | to reach speeds of 2,000 IPM (50,000 mm/min) and stop smoothly before
        | hitting the other side.

      h2 The 6040 CNC Router

      img(src="/controller/6040_cnc.jpg")

      p
        | The 6040 CNC is an greatly entry level machine available from <a
        | href="https://www.ebay.com/sch/?_nkw=6040+CNC">many
        | different resellers on EBay</a>. These machines tend to come with poor
        | quality control systems but when paired with a Buildbotics controller
        | they perform as well as much more expensive machines.

      h2 The Dyna Myte 2400 CNC Mill

      img(src="/controller/dyna_myte_2400.jpeg")

      p
        | This summer we restored a Dyna Myte 2400, a retro machine from the
        | 80s, for the <a href="http://robotgarden.org/">RobotGarden
        | Makerspace</a>. Check our video:

      iframe(width="600", height="380", frameborder="0", allowfullscreen,
        src="https://www.youtube.com/embed/8IcQnnB2bXY")
      .caption Yes we are dorks but we build awesome electronics.

      h2 The K40-3020 LASER Cutter

      img(src="/controller/K40-3020_LASER.png")

      p
        | This 40W CO2 LASER is another great EBay deal but it comes with
        | notoriously poor software. We connected the Buildbotics controller to
        | the existing stepper motors, LASER driver and limit switches. We also
        | added a safety switch on the door.

      h2 Doug's DIY CNC Router

      img(src="/controller/dougs_cnc_and_bowl_cut.jpg")

      p
        | The Buildbotics controller is ideal for DIY CNC builders. It makes
        | building CNCs a lot easier by simplifying the wiring and eliminating
        | the need for custom electronics enclosures.

      h1 Stepper Motors

      img(src="/controller/steppers.png")

      p
        | The Buildbotics controller contains four highly reliable stepper motor
        | drivers with the following specs:

      ul
        li Up to 6A per channel
        li 12v to 36v DC
        li Up to 128 microstepping
        li Smooth S-curve acceleration
        li At step rates in excess of 250k/sec per channel.

      p
        | It is suitable for driving NEMA 17, NEMA 23 and many NEMA 34
        | motors. We currently only support 3-axis Cartesian machines but
        | preliminary support for a 4th rotary axis is underway. The fourth
        | driver can also be synchronized to drive a single axis with two
        | motors.

      h1 Tools

      img(src="/controller/spindles.png")

      p
        | The PWM, enable and direction outputs can be used to control a wide
        | array of tool heads. The RS485 connection drives high-speed VFD
        | controlled air and water cooled spindles over two wires.

      h1 I/O Breakout Board

      img(src="/controller/breakout.png")

      p
        | Limit switches, Z-axis probing, PWM spindle control, RS-485 spindle
        | control, and e-stop switches can be easily connected via a 25-pin I/O
        | breakout board using simple screw terminals. This is <b>not a parallel
        | port</b>.

      h1 Power Supplies

      img(src="/controller/power_supplies.png")

      p
        | We really like Meanwell power supplies because they are reliable and
        | not too expensive. We especially like their power adapters which plug
        | directly into the Buildbotics controller. Any power supply which
        | outputs 12-36v DC, with at least 6A, can be easily connected with our
        | custom power cable.

      h1 Custom Cables

      img(src="/controller/cables.png")

      p
        | The Buildbotics controller kits come with pre-made cables for
        | connecting stepper motors, power supplies and load switches. These
        | cables really save time.

      h1 USB Devices

      img(src="/controller/usb_devs.png")

      p
        | Inexpensive <b>gamepads</b> can be used for tool head positioning and
        | navigating LCD menus. Plug into a USB port to jog the machine
        | axes. Plug in a <b>USB camera</b> and keep an eye on your machines
        | from a Web browser

      h1 Networking Options

      video(autoplay, loop, width=600)
        source(src="/controller/network_blink.mp4", type="video/mp4")

      p
        | Wired Ethernet provides reliable network communication even in noisy
        | environments. USB WiFi dongles can also be used to put your machines
        | on the network.

      h1 External Load Switches

      img(src="/controller/load_switch.png")

      p
        | Two load switches, each capable of supplying up to 15A can power
        | heated beds for 3D printers, extruders, vacuum tables or whatever else
        | you can think of. For AC loads an inexpensive <a
        | href="https://www.amazon.com/s/?field-keywords=solid+state+relay"
        | >SSR</a> switch can be used and relays can be used for higher amp DC
        | loads.

      h1 Aluminum Enclosure

      img(src="/controller/enclosure.png")

      p
        | Heat dissipation was carefully considered throughout the design. As a
        | result, the fan-less aluminum enclosure dissipates heat without
        | pulling in metal and wood shavings. <a href="https://blog.hackster.io/buildbotics-open-source-cnc-controller-d21a2ccb15f6"
        | >Check out what hackster.io blogger, Jeremy Cook had to say</a>.

      blockquote
        | "Buildbotics' open source controller looks like [a] really solid
        | solution for controlling CNC," says blogger <a
        | href="https://blog.hackster.io/buildbotics-open-source-cnc-controller-d21a2ccb15f6"
        | >Jeremy S. Cook of hackster.io</a>. "If you have a CNC build or
        | retrofit in your future, it's certainly worth checking out!"

      img(src="/controller/buildbotics_enclosure_base.png")

      p
        | Four screw holes allow the enclosure to be easily mounted on or near
        | the machine.

      h1 Reliability Features

      p
        | We have put a lot of thought into making a robust device that not only
        | protects its own internal electronics but also the devices connected
        | to it. Here’s a list of some of the reliability features:

      ul
        li Over current protection
        li Over temperature shutdown
        li Under voltage lockout
        li Reverse voltage protection
        li Short-circuit protection

      h1 Developer Community

      img(src="/controller/dev.png")

      p
        | Welcome, software and hardware developers. You made it.  We’ve already
        | implemented a lot of cool features but we have not even scratched the
        | surface of what this controller could do. To make the Buildbotics
        | controller a massive success we need to build an awesome developer
        | community around it. That is why we’ve made <b>everything</b>
        | <a href="https://opensource.org/osd-annotated">Open-Source</a>.
        | Here’s what you can find on GitHub:

      ul
        li
          | <a href="https://github.com/buildbotics/bbctrl-firmware">Firmware
          | source code</a>.
        li
          | <a href="https://github.com/buildbotics/bbctrl-pcb">Hardware
          | schematics and PCB layout</a>.
        li
          | <a href="https://github.com/buildbotics/bbctrl-enclosure">Enclosure
          | designs</a>.
        li
          | The buildbotics.com <a
          | href="https://github.com/buildbotics/buildbotics-ui">front-end</a>,
          | <a href="https://github.com/buildbotics/buildbotics">server
          | code</a>, <a href="https://github.com/buildbotics/duerer">image
          | server</a> and <a
          | href="https://github.com/buildbotics/buildbotics-api">API</a>.

      h1 Open-Source Contributions

      p
        | Feel free to submit pull-requests or open new issues on any of these
        | repositories. But please follow these best practices:

      ul
        li First search for preexisting issues.
        li Create a good title which clearly explains the issue at a glance.
        li
          | With bug reports include:
          ul
            li your setup
            li what you expected
            li what happened instead
            li any error output or logs
            li screenshots

      h1 Future Directions

      p
        | There are many features you could help us add to the Buildbotics
        | controller. Here are a few things we'd like to add to the controller's
        | built-in <a
        | href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/"
        | >RaspberryPi 3</a>:

      ul
        li
          | Installation and integration of <a
          | href="https://github.com/LaserWeb/LaserWeb4">LASER Web</a>.
        li
          | Installation and integration of <a href="http://chilipeppr.com/"
          | >Chillipeppr</a>.
        li
          | Direct support for 3D printing with <a
          | href="https://github.com/foosel/OctoPrint">OctoPrint</a>.
        li Support for <a href="http://openpnp.org/">OpenPnP</a> pick and place.
        li Built-in support for <a href="http://tplang.org/">TPL</a>.

      h1 More Info

      p
        | See our <a
        | href="https://github.com/buildbotics/bbctrl-firmware/issues">issue
        | tracker</a> for more ideas and keep an eye on this
        | section. We will be expanding it. If you have any questions please
        | feel free to email <a href="mailto:joseph@buildbotics.com"
        | >joseph@buildbotics.com</a>.

      center
        mailchimp-optin
