script#create-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        a(href="/create")
          .fa.fa-plus(title="Create")
          | Create

    .page-content
      div(v-if="!isAuthenticated()")
        p
          | You must <button class="success" v-on="click:login">login</button>
          | to create projects.

      div(v-if="isAuthenticated()")
        h1 Create a new project

        table
          tr
            td {{getUserName()}}
            td /
            td
              thing-name-validator(owner="{{getUserName()}}")

        p
          h3 Title <span class="weak">(optional)</span>

          input(type="text" name="title" v-model="title"
            placeholder="Choose a title")

        p
          button.success(v-on="click:submit" v-disable="!valid")
            .fa.fa-plus
            | Create
