script#dashboard-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-tasks(title="Dashboard")
        | Dashboard

    .page-content
      p(v-if="!isAuthenticated()")
        button.success(v-on="click:login")
          .fa.fa-sign-in
          | Login
        | to view your dashboard.

      .dashboard(v-if="isAuthenticated()")
        .dashboard-announcements

        .sidebar
          .dashboard-profile
            button.success(v-on="click:editProfile")
              .fa.fa-pencil
              | Edit

            h1: a(href="/{{profile.name}}") Profile

            .owner
              bb-avatar(name="{{profile.name}}" size="alarge")
              .name {{profile.fullname || profile.name}}

            .stats
              div
                .value {{profile.points | humanNumber}}
                .label Points

              div
                a.value(href="/{{profile.name}}/#followers")
                  | {{profile.followers | humanNumber}}
                .label Followers

          .dashboard-creations
            button.success(v-on="click:create")
              .fa.fa-plus
              | Create

            h1: a(href="/{{profile.name}}#creations") Creations

            table
              tr(v-repeat="things" v-on="click:openProject(name)"
                v-class="draft:!published, " +
                "even:($index & 1) == 0, odd:($index & 1) == 1")
                td.name(title="{{title || name}}")
                  .fa(v-class="published ? 'fa-book' : 'fa-pencil'"
                    v-attr="title: published ? 'Published' : 'Draft'")
                  span {{name}}

                td.stars(v-attr="title: stars + ' Stars'")
                  | {{stars | humanNumber}}
                  .fa.fa-star

                td.views(v-attr="title: views + ' Views'")
                  | {{views | humanNumber}}
                  .fa.fa-eye

            .weak(v-if="!things.length") (No creations)

        .dashboard-activity
          h1 Recent Activity
          bb-events(events="{{events}}")
