script#events-template(type="text/x-template")
  .events
    .event(v-repeat="events")
      .icon.fa(v-class="'fa-' + getIcon(action)" title="{{action}}")

      .content
        .when {{ts | timeSince}}

        a.subject(href="/{{subject}}")
          bb-avatar(name="{{subject}}")
          | {{subject}}

        span.action {{describeAction(action)}}

        a.object(href="/{{path}}")
          bb-avatar(v-if="action=='follow'" name="{{path}}")
          | {{describeObject(action, path)}}

        | .


