script#explore-profiles-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-users(title="People")
        | Top creators

    .page-content
      explore-search
      .loading(v-show="loading"): .fa.fa-spinner.fa-spin

      bb-profiles(profiles="{{profiles}}")
      .weak(v-show="!loading && !profiles.length") (Sorry, no matching results.)
