script#explore-events-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-heartbeat(title="Activity")
        | Activity

    .page-content
      .loading(v-show="loading"): .fa.fa-spinner.fa-spin

      .explore-events
        bb-events(events="{{events}}")
