script#explore-things-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        a(href="/explore/creations")
          .fa.fa-cubes(title="Creations")
          | Creations

    .page-content
      explore-search
      .loading(v-show="loading"): .fa.fa-spinner.fa-spin

      bb-things(things="{{things}}")
      .weak(v-show="!loading && !things.length") (Sorry, no matching results.)
