script#explore-tags-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        a(href="/explore/tags")
          .fa.fa-tags(title="Tags")
          | Tags

    .page-content
      .loading(v-show="loading"): .fa.fa-spinner.fa-spin

      bb-tags(tags="{{tags}}")
