script#explore-template(type="text/x-template")
  h1 Explore

  .search
    .input-group
      input.form-control(type='text' v-model='query'
        v-on="keyup:search() | enter")
      span.input-group-btn
        button.btn.btn-primary(v-on="click:search()") Search

  bb-things(v-with='things:things')
