script#explore-tags-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-tags(title="Tags")
        | Explore tags

    .page-content
      .loading(v-show="loading"): .fa.fa-spinner.fa-spin

      bb-tags(tags="{{tags}}")
