script#field-editor-template(type="text/x-template")
  .edit-row.not-editing(v-class='edit:canEdit' v-on="click:edit()"
    v-show='!editing')
    a.fa.fa-edit(tooltip='Edit {{displayName}}' v-show='canEdit')
    h3 {{DisplayName}}

  .edit-row.editing(v-class='edit:canEdit' v-on="click:cancel()"
    v-show='editing')
    a.fa.fa-edit(tooltip='Edit {{displayName}}' v-show='canEdit')
    h3 {{DisplayName}}

  .edit-mode(v-show='editing')
    content

  .view-mode(v-show='!editing') {{field}}
    content

  .weak(v-show='!editing && !field') ({{DisplayName}} unset)
