script#file-editor-template(type="text/x-template")
  .file-editor.modal(v-show="show")
    .modal-header
      h1 Edit file details

    .modal-content
      img(v-if="util.isImage(file.type)"
        v-attr="src:file.url + '?size=asmall'")
      .fa(v-if="!util.isImage(file.type)" v-class="util.getIcon(file.type)")
      p {{file.name}}

      div
        h2 Caption
        input(type="text" name="caption" v-model="caption" v-on="input:update")

      div
        h2 Visibility
        label
          input(type="radio" name="visibility" value="display")
          | Display
        label
          input(type="radio" name="visibility" value="download")
          | Download
        label
          input(type="radio" name="visibility" value="both")
          | Both

    .modal-footer
      button(v-on="click:cancel")
        .fa.fa-times
        | Cancel

      button.success(v-on="click:save" v-disable="!name || !modified")
        .fa.fa-save
        | Save
