script#followers-template(type="text/x-template")
  .followers
    button(v-if="button" v-on="click:toggle" v-class="success:!active"
      title="{{active ? 'Unf' : 'F'}}ollow {{profile.name}}")
      | {{active ? 'Unf' : 'F'}}ollow

    a(v-if="!button" v-on="click:toggle"
      title="{{active ? 'Unf' : 'F'}}ollow {{profile.name}}")
      .fa.fa-users(v-class="active:active")
      | {{profile.followers | humanNumber}}

    bb-modal(ref="login" buttons="{{buttons}}" callout="top-right")
      .modal-content You must login to follow someone.
