script(type='text/ng-template', id='gallery.html')
  .blueimp-gallery.blueimp-gallery-carousel
    .slides
    h3.title
    a.prev
      .fa.fa-step-backward
    a.next
      .fa.fa-step-forward
    a.play-pause
      .fa.fa-pause
      .fa.fa-play
    ol.indicator
