script#home-template(type="text/x-template")
  .intro
    img(src="/images/squid_dude-200x200.png")

    .banner
      .logo
        .left Build
        .right botics
      .byline Desktop manfacturing for everyone.

    .login
      a(href="/login"): button.success Join the Community.

  .info
    .panel
      .panel-header
        a(href="/explore/creations")
          img(src="/images/explore.png")
          div Explore

      | the <a href="/explore/creations">latest creations</a> by
      | <a href="/explore/people">top designers</a>.

    .panel
      .panel-header
        a(href="/learn")
          img(src="/images/learn.png")
          div Learn

      | how to operate a <a href="/learn/what_is_a_cnc">desktop CNC</a>
      | using <a href="/learn/our_software">free Open-Source software</a>.

    .panel
      .panel-header
        a(href="/create")
          img(src="/images/create.png")
          div Create

      | <a href="/learn/how_to_create_a_design">your own designs</a>
      | and <a href="/learn/sharing_your_designs">share them</a> with the
      | community.
