script#home-template(type="text/x-template")
  center
    img(src='/images/buildbotics_explore_learn_create.png')
  .actions
    .panel
      .panel-heading: a(href="/explore/creations") Explore
      .panel-body
        | Explore free designs for CNC, 3D printing and LASER.
        | Choose your favorites projects and designers.

    .panel
      .panel-heading: a(href="/learn") Learn
      .panel-body
        | Learn how to build and design your own projects with
        | tutorials on how to operating your own machines.

    .panel
      .panel-heading: a(href="/create") Create
      .panel-body
        | Create and share your designs with the community.
        | Earn <a href="/points">points</a> and
        | <a href="/badges">badges</a> to unlock extra features.
