script#landing-template(type="text/x-template")
  #landing-intro
    img(src="/images/squid_dude-150x150.png")

    .banner
      .logo
        .left Build
        .right botics
      .byline Desktop manufacturing for everyone.

    br

  #landing-info
    h1.expand
      | Build almost anything using
      | <i>desktop manufacturing machines<b> such as
      | <i>CNCs<b> for milling materials like wood, plastic, and metal</b></i>,
      | <i>3D printers<b> which build shapes in layers from plastic</b></i> &
      | <i>LASER cutters<b> to cut wood, cardboard, plastic & vinyl</b></i>
      | , all</i> with <i>Open-Source software<b> like
      | <i><tt>TPL</tt><b>, a new tool for creating machine tool paths</b></i>,
      | <i><tt>CAMotics</tt><b>, a fast 3-axis CNC simulator</b></i>,
      | <i><b>2D drawing programs </b><tt>Inkscape</tt> & <tt>LibreCAD</tt></i>,
      | <i><tt>OpenSCAD</tt><b>, a powerful 3D modeling tool</b></i>
      | and many others</b></i>.

    .panel
      bb-icon-link(href="/explore/creations" icon="/images/explore.png"
        text="Explore")

      ul
        li Download free files.
        li Follow top designers.
        li Star your favorites.

    .panel
      bb-icon-link(href="/learn" icon="/images/learn.png" text="Learn")

      ul
        li Follow tutorials.
        li Learn the software.
        li Master desktop manufacturing.

    .panel
      bb-icon-link(href="/create" icon="/images/create.png" text="Create")

      ul
        li Create projects.
        li Host your files.
        li Share your knolwedge.

    a.down.fa.fa-chevron-down(v-on="click:smoothScroll" href="#landing-steps")

  #landing-steps
    h1 Follow a step-by-step process.

    .section.design
      img(src="/images/design.png")

      .section-content
        h1 Step 1: Design
        p
          | Create designs using free Open-Source software like Inkscape,
          | LibreCAD, TPL and OpenSCAD.  Follow tutorials and learn to use
          | this software effectively.  Or simply choose from many quality
          | free designs.

    .section.simulate
      img(src="/images/simulate.png")

      .section-content
        h1 Step 2: Simulate
        p
          | With a design in hand, you will want to check that it will work
          | safely on your machine.  Use our free simulation software to
          | view the final product in 3D.

    .section.build
      img(src="/images/build.png")

      .section-content
        h1 Step 3: Build
        p
          | Learn how to build projects with desktop manufacturing machines
          | safely and economically.  Get expert advice on choosing materials,
          | selecting tools and setting up the cut.  Cut your projects with
          | confidence and share the results with the community.

    .login
      a(v-attr="href:isLoggedIn ? '/dashboard' : '/login'")
        button.success Let's get started.

