script#learn-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        a(href="/learn")
          .fa.fa-book(title="Learn")
          | Learn

    .page-content
      bb-icon-link(href="/learn/design" icon="/images/design.png" text="Design")
      bb-icon-link(href="/learn/simulate" icon="/images/simulate.png"
        text="Simulate")
      bb-icon-link(href="/learn/build" icon="/images/build.png" text="Build")
