script#learn-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-book(title="Learn")
        | Learn

    .page-content
      .learn-tutorials
        div
          img(src="/images/tutorials.png" title="Tutorials")
          h1 Tutorials
        ul
          li(v-repeat="tutorials"): a(href="/{{owner}}/{{name}}") {{title}}

      .learn-reference
        div
          img(src="/images/reference.png" title="Reference")
          h1 Reference
        ul
          li(v-repeat="reference"): a(href="{{path}}") {{title}}

      .learn-faqs
        div
          img(src="/images/faqs.png" title="FAQs")
          h1 FAQs
        ul
          li(v-repeat="faqs"): a(href="{{path}}") {{title}}
