script#learn-template(type="text/x-template")
  page-layout
    .header-content
      .breadcrumbs
        a(href="/learn")
          .fa.fa-book(title="Learn")
          | Learn

    .page-content
      h2 TODO
