script#login-template(type="text/x-template")
  bb-page-layout
    .header-content
      | Login or Register with:

    .page-content
      ul
        li.google: a(href="/api/auth/google" target="_top")
          .fa.fa-google
          | Google

        li.facebook: a(href="/api/auth/facebook" target="_top")
          .fa.fa-facebook
          | Facebook

        li.github: a(href="/api/auth/github" target="_top")
          .fa.fa-github
          | GitHub
