script#login-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-sign-in
        | Login or register

    .page-content.login
      p Please login with one of the following services:

      .google: a(href="/api/auth/google" target="_top")
        .fa.fa-google
        | Google

      .facebook: a(href="/api/auth/facebook" target="_top")
        .fa.fa-facebook
        | Facebook

      .github: a(href="/api/auth/github" target="_top")
        .fa.fa-github
        | GitHub
