script#mailing-list-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-email(title="Buildbotics Mailing List Signup")
        | Buildbotics mailing list

    .page-content
      mailchimp-optin
