script#mailing-list-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-puzzle-piece(title="Buildbotics Mailing List Signup")
        | Signup for the Buildbotics mailing list

    .page-content
      mailchimp-optin
