script#mc-optin-template(type="text/x-template")
  link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css",
    rel="stylesheet", type="text/css")

  #mc_embed_signup
    form#mc-embedded-subscribe-form.validate(
      action="//buildbotics.us16.list-manage.com/subscribe/post?u=aa50c8cda80a6ed2405c3e499&amp;id=d319ecab7c",
      method="post", name="mc-embedded-subscribe-form" target="_blank",
      novalidate)

      h2 Subscribe our mailing list

      label Email:
      input.required.email(type="email", name="EMAIL")
      input.button(type="submit", value="Subscribe", name="subscribe")
      input(type="hidden", name="b_aa50c8cda80a6ed2405c3e499_d319ecab7c")
