script#mc-optin-template(type="text/x-template")
  #mc_embed_signup
    form(
      action="//buildbotics.us16.list-manage.com/subscribe/post?u=aa50c8cda80a6ed2405c3e499&amp;id=d319ecab7c",
      method="post", name="mc-embedded-subscribe-form" target="_blank",
      novalidate)

      h3 Subscribe to the Buildbotics mailing list

      label Email:
      input.required.email(type="email", name="EMAIL")
      input.button(type="submit", value="Subscribe", name="subscribe")
      input(type="hidden", name="b_aa50c8cda80a6ed2405c3e499_d319ecab7c")
