script#not-found-template(type="text/x-template")
  page-layout
    .header-content
      .breadcrumbs
        .fa.fa-exclamation-triangle.error
        | Sorry, page not found

    .page-content
      a(href='/') Return to site
