script#profile-bio-template(type="text/x-template")
  h1 {{profile.name | capitalize}}'s bio

  .weak(v-show="!profile.bio && !isOwner()") (Bio empty)

  div(v-show="!profile.bio && isOwner()")
    | Click <button v-on="click:editProfile()" class="success">Edit Profile
    | </button> to add a bio.

  div(v-markdown="profile.bio" v-show="profile.bio")
