script#profiles-template(type="text/x-template")
  div
    .profiles
      a(v-repeat="profile:profiles" v-attr="href:'/' + profile.name"
        title="{{profile.fullname || profile.name}}")
        bb-avatar(name="{{profile.name}}" size="{{small ? 'thumb' : 'asmall'}}")
        .footer
          .points(title="Reputation points") ({{profile.points | humanNumber}})
          .name {{profile.name}}
