script#profile-profile-template(type="text/x-template")
  .overview
    img.picture(v-attr="src:getPicture()")

    .fullname
      span {{profile.fullname}}

    .name {{profile.name}}


    .details
      .location
        .fa.fa-map-marker
        span.weak(v-show="!profile.location") (Not set)
        span {{profile.location}}

      .homepage
        .fa.fa-link
        span.weak(v-show="!profile.url") (Not set)
        a(href="{{profile.url}}" target="_blank") {{profile.url}}

      .joined
        .fa.fa-clock-o
        td Joined {{profile.joined | timeSince}}

    .stats
      div
        a.value(href="#followers") {{profile.followers | humanNumber}}
        .label Followers

      div
        .value {{profile.points | humanNumber}}
        .label Points

      div
        a.value(href="#badges") {{profile.badges | humanNumber}}
        .label Badges

      div
        a.value(href="#starred") {{profile.stars | humanNumber}}
        .label Starred

      div
        a.value(href="#following") {{profile.following | humanNumber}}
        .label Following

  h1 {{profile.name | capitalize}}'s creations
  bb-things(things="{{things}}")
  .weak(v-show="!things.length && !isOwner()") (No creations)
  .weak(v-show="!things.length && isOwner()")
    | Click <button v-on="click:create" class="success">Create</button> to
    | start your first project.
