script#profile-template(type="text/x-template")
  page-layout
    .header-content
      .widgets
        bb-points(points="{{profile.points}}")
        bb-followers(profile="{{profile}}")

      .breadcrumbs
        a(href="/explore/people"): .fa.fa-users(title="Profiles")
        span /
        a(href="/{{profile.name}}") {{profile.name}}

    .page-content
      .menu
        a(v-repeat="subsections" v-attr="href:'#' + $value"
          v-show="$value != 'edit-profile' || isOwner"
          v-class="'subsection-item-' + $value, active:$value == subsection")
          | {{getSubsectionTitle($value)}}

      .section(v-component="profile-{{subsection}}")
