script#profile-view-template(type="text/x-template")

  .sidebar
    bb-avatar(name="{{profile.name}}" size="asmall")

    .stats
      div(title="{{profile.points}} points")
        .value {{profile.points | humanNumber}}
        .label Points

      div(title="{{profile.followers}} followers")
        a.value(href="#followers") {{profile.followers | humanNumber}}
        .label Followers

    .details
      .owner(title="{{profile.fullname || profile.name}}")
        .fa.fa-user
        div {{profile.name}}

      .location(title="Location")
        .fa.fa-map-marker
        div
          | {{profile.location}}
          .weak(v-show="!profile.location") (Not set)

      .link(title="Homepage")
        .fa.fa-link
        div
          a(href="{{profile.url}}" target="_blank")
            | {{util.prettyURL(profile.url)}}
          .weak(v-show="!profile.url") (Not set)

      .joined
        .fa.fa-clock-o
        div Joined {{profile.joined | timeSince}}


  .view-contents
    .subsection
      div(v-markdown="profile.bio" v-show="profile.bio")
      .weak(v-show="!profile.bio && canEdit")
        = '(Click '
        button.success(v-on="click:editProfile('bio')")
          .fa.fa-pencil
          | Edit
        = ' to add a bio.)'

    .subsection
      h1#creations Creations
      bb-things(things="{{things}}")
      .weak(v-show="!things.length && !isOwner") (No creations)
      .weak(v-show="!things.length && isOwner")
        = '(Click '
        button(v-on="click:create" class="success")
          .fa.fa-plus
          | Create
        = ' to start your first project.)'

    .subsection
      h1#starred Starred projects
      bb-things(things="{{starred}}")
      .weak(v-show="!starred.length")
        | ({{profile.name | capitalize}} has not yet starred any projects.)

    .subsection
      h1#followers People following {{profile.name}}
      bb-profiles(profiles="{{followers}}")
      .weak(v-show="!followers.length")
        | ({{profile.name | capitalize}} does not yet have any followers.)

    .subsection
      h1#following People {{profile.name}} is following

      bb-profiles(profiles="{{following}}")
      .weak(v-show="!following.length")
        | ({{profile.name | capitalize}} is not yet following anyone.)

    .subsection
      h1#activity Recent activity
      bb-events(events="{{events}}")
      .weak(v-show="!events.length") (No recent activity.)
