script#profile-bio-editor-template(type="text/x-template")
  markdown-editor(field="edit_bio")

  div
    button.success(v-on="click:save()" v-disable="!modified"
      title="Save changes")
      .fa.fa-save
      | Save
