script#profile-template(type="text/x-template")
  bb-page-layout
    .header-content
      .widgets
        bb-points(points="{{profile.points}}")
        bb-followers(profile="{{profile}}")

      .breadcrumbs
        a(href="/explore/people"): .fa.fa-users(title="Profiles")
        span /
        a(href="/{{profile.name}}") {{profile.name}}

    .page-content
      .edit-menu(v-show="subsection != 'view'")
        a(v-repeat="getEditSubsections()" href="#{{$value}}"
          v-class="'subsection-item-' + $value, active:$value == subsection")
          | {{getSubsectionTitle($value)}}

      div(v-class="edit-contents:subsection != 'view'")
        h1(v-show="subsection != 'view'") {{getSubsectionTitle(subsection)}}
        div(v-component="profile-{{subsection}}")
