script#profile-template(type="text/x-template")
  bb-page-layout
    .header-content
      .widgets
        button.success(v-show="canEdit && subsection == 'view'"
          v-on="click:editProfile")
          .fa.fa-pencil
          | Edit

        button.success(v-show="subsection != 'view'"
          v-on="click:viewProfile" title="View profile.")
          .fa.fa-eye
          | View

        bb-followers(v-show="!isOwner" profile="{{profile}}"
          followers="{{followers}}" button="true")

      .breadcrumbs {{profile.fullname || profile.name}}

    .page-content
      .edit-menu(v-show="subsection != 'view'")
        a(v-repeat="getEditSubsections()" href="{{'#' + $value}}"
          v-class="'subsection-item-' + $value, active:$value == subsection")
          | {{getSubsectionTitle($value)}}

      div(v-class="edit-contents:subsection != 'view'")
        h1(v-show="subsection != 'view'")
          | Edit {{getSubsectionTitle(subsection)}}
        div(v-component="profile-{{subsection}}")
