script#profile-template(type="text/x-template")
  .profile
    .header
      h3 {{profile.name}}

    ul.menu
      li(v-repeat="section:sections")
        a(v-attr="href:'#' + section") {{section}}

    .section(v-component="profile-{{subsection}}")
