script#profile-profile-template(type="text/x-template")
  img.picture(v-attr="src:profile.avatar")

  table.info
    tr
      th Full name
      td
        span(v-show="!editing") {{profile.fullname}}
        input(v-show="editing" v-model="edit_fullname")
    tr
      th Location
      td
        span(v-show="!editing") {{profile.location}}
        input(v-show="editing" v-model="edit_location")
    tr
      th Homepage
      td
        a(v-show="!editing" href="{{profile.url}}" target="_blank")
          | {{profile.url}}
        input(v-show="editing" v-model="edit_url")
    tr
      th Joined
      td {{profile.joined | timeSince}}
    tr
      th Last seen
      td {{profile.lastseen | timeSince}}

  .bio
    h1 Bio
    div(v-markdown="profile.bio" v-show="!editing")
    markdown-editor(field="edit_bio" v-if="editing")
