script#profile-details-editor-template(type="text/x-template")
  .profile-details-editor
    div
      h2 Full name
      input(v-model="edit_fullname" v-on="input:changed" maxlength="64")

    div
      h2 Location
      input(v-model="edit_location" v-on="input:changed" maxlength="256")

    div
      h2 Homepage
      input(v-model="edit_url" v-on="input:changed" maxlength="256")

    .actions
      button.success(v-on="click:save()" v-disable="!modified"
        title="Save changes")
        .fa.fa-save
        | Save
