script#profiles-template(type="text/x-template")
  div
    .profiles
      a(v-repeat="profile:profiles" v-attr="href:'/' + profile.name")
        img.picture(v-attr="src:getPicture(profile)")
        .footer
          bb-points(points="{{profile.points}}")
          .name {{profile.name}}
