script#profile-template(type="text/x-template")
  .profile
    .header
      .header-content
        .widgets
          bb-points(points="{{profile.points}}")
          bb-followers(profile="{{profile}}")

        .path
          a(href="/explore#people"): .fa.fa-users(title="Profiles")
          span /
          a(href="/{{profile.name}}#creations") {{profile.name}}

    .page-content
      button.success(v-show="isOwner() && !editing" v-on="click:edit()")
        | Edit Profile
      button.success(v-show="editing" v-on="click:save()") Save
      button(v-show="editing" v-on="click:cancel()") Cancel Edit

      .menu
        a(v-repeat="subsection:subsections" v-attr="href:'#' + subsection")
          | {{subsection}}

      .section(v-component="profile-{{subsection}}")
