script#register-template(type="text/x-template")
  h1 New User Registration

  .form-group.input-group-sm
    p Please choose a user name.

    input.form-control(type="text" v-model="name | nameValidator"
      v-on="keyup:submit() | key 13 | preventDefault"
      maxlength="64" placeholder="Enter a user name")

    span(v-show="checking")
      .fa.fa-spin.fa-spinner
      | Checking name availability. . .
    span.success(v-show="valid.valid")
      .fa.fa-check
      | This name is available.
    span.error(v-show="!valid.available && !checking")
      .fa.fa-close
      | Sorry, this name is already taken!
    span.error(v-show="!valid.chars")
      .fa.fa-close
      | Names can only contain numbers, letters, underscores and periods.
    span.error(v-show="!valid.start")
      .fa.fa-close
      | Names must start with a letter or number.
    span.error(v-show="!valid.loggedout")
      .fa.fa-close
      | You are already logged in.

    span.help-block Here are some suggestions:
    a.suggestion(v-repeat="suggestion:suggestions" href="#"
      v-on="click:setName(suggestion, true) | preventDefault") {{suggestion}}

  button.btn.btn-primary(v-on="click:submit() | preventDefault"
    v-disable="!valid.valid") Register
