script#stars-template(type="text/x-template")
  .stars
    a(title="{{starred ? 'Unstar' : 'Star'}} this thing",
      v-on="click:toggle()")
      span.fa.fa-star(v-class="user-starred: starred")
      | &nbsp;{{thing.stars}}

    bb-modal(ref="login" buttons="cancel login" callout="top-right")
      .modal-content You must login to star a project?
