script#stars-template(type="text/x-template")
  .stars
    button(v-if="button" v-on="click:toggle" v-class="success:!active"
      title="{{active ? 'Uns' : 'S'}}tar this project")
      .fa.fa-star
      | {{active ? 'Uns' : 'S'}}tar

    a(v-if="!button" v-on="click:toggle"
      title="{{active ? 'Unstar' : 'Star'}} this project")
      .fa.fa-star(v-class="active:active")
      | {{thing.stars | humanNumber}}

    bb-modal(ref="login" buttons="{{buttons}}" callout="top-right")
      .modal-content You must login to star a project.
