script#stars-template(type="text/x-template")
  a.stars(title="{{starred ? 'Unstar' : 'Star'}} this thing",
    v-on="click:toggle()")
    span.fa.fa-star(v-class="user-starred: starred")
    | &nbsp;{{thing.stars}}
