script#store-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-puzzle-piece(title="Buildbotics Store")
        | Welcome to the Buildbotics Store

    .page-content
      img(src="/controller/buildbotics_controller_with_reflection.png")

      center
        a(href="//store.buildbotics.com/buildbotics-cnc-controller/")
          img(width="160", src="/controller/order_now.png")

      p
        | We are <a href="//store.buildbotics.com/buildbotics-cnc-controller/"
        | >now selling</a> our first 50 <a href="/controller">CNC
        | controllers</a> to those who backed us on Kickstarter or signed on
        | to our commitment list.  We plan to ship these first 50 units by the
        | end of Feburary and will keep you up to date with each step of the
        | process.

      center
        strong: a(href="/controller")
          | Find out more about the Buildbotics Open-Source CNC controller.

      p
        | If you are a Kickstarter backer or are in one of the first 50
        | positions on our commitment list, we have reserved a <a
        | href="/controller">Buildbotics CNC controller</a> for you.  You may
        | <a href="//store.buildbotics.com/buildbotics-cnc-controller/">claim
        | it now</a> by making a purchase on our Web store. <b>Your credit card
        | will not be charged until just before we ship your order</b>.  In the
        | meantime, you may see a credit card authorization for the amount of
        | your purchase.

      p
        | After February 15th, we will make any remaining units available on a
        | first come first serve basis. If you place an order for a controller
        | you have not reserved before then, there may be a significant delay
        | before your order ships.  Any orders exceeding our initial stock of
        | 50 CNC controllers, will not ship until the next batch is ready.

      center
        a(href="//store.buildbotics.com/buildbotics-cnc-controller/")
          img(width="160", src="/controller/order_now.png")

      p
        | We look forward to seeing what you will make with the Buildbotics
        | controller and to answering your questions.  Thank you for helping us
        | make this product a reality.  We are excited to working with this
        | community and about what we can do together with this controller.

      p Sincerely,
      p Joe & Doug

      center
        mailchimp-optin
