script#store-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        .fa.fa-puzzle-piece(title="Buildbotics Store")
        | Welcome to the Buildbotics Store

    .page-content
      img(src="/controller/buildbotics_controller_with_reflection.png")

      center
        a(href="//store.buildbotics.com/buildbotics-cnc-controller/")
          img(width="160", src="/controller/order_now.png")

      p
        | We are <a href="//store.buildbotics.com/buildbotics-cnc-controller/"
        | >now selling</a> our first 50 <a href="/controller",
        | target="_blank">Buildbotics CNC controllers</a>.  After thorough
        | testing, we plan to begin shipping by the end of February.  We will
        | keep you up to date through our
        | <a href="//buildbotics.com/mailing-list" target="_blank">mailing
        | list</a> with each step of the process.

      center
        strong: a(href="/controller", target="_blank")
          | Find out more about the Buildbotics Open-Source CNC controller.

       p
        | After you place your order you may notice that your account has
        | <em>not</em> been charged.  <b>Your account will not be charged until
        | just before we ship your order</b>.  In the meantime, you may see a
        | credit card authorization for the amount of your purchase.

      center
        a(href="//store.buildbotics.com/buildbotics-cnc-controller/")
          img(width="160", src="/controller/order_now.png")

      center
        h2
          a(href="//docs.buildbotics.com/", target="_blank")
            | Check out the Users Manual

      p
        | We thank you for your support and look forward to seeing what you
        | will create with the Buildbotics controller and to answering your
        | questions in the <a href="//forum.buildbotics.com/" target="_blank"
        | >Buildbotics forum</a>.  Thank you for helping us make this product a
        | reality. We are excited to working with this community and about what
        | we can do together with the Buildbotics CNC  controller.  If you have
        | questions, please feel free to email us at
        | <a href="mailto:info@buildbotics.com">info@buildbotics.com</a>.

      p Sincerely,
      p Joe & Doug

      center
        mailchimp-optin
