script#tag-template(type="text/x-template")
  page-layout
    .header-content
      .breadcrumbs
        a(href="/explore/tags"): .fa.fa-tags(title="Tag cloud")
        span /
        a(href="/tags/{{tag}}") {{tag}}

    .page-content
      h1 Projects tagged with "{{tag}}"

      bb-things(things="{{things}}")

      .fa.fa-spinner.fa-spin(v-show="!loaded")

      .weak(v-show="loaded && !things.length")
        | No projects with tag {{tag}} found.
