script#tag-template(type="text/x-template")
  bb-page-layout
    .header-content
      .breadcrumbs
        a(href="/explore/tags"): .fa.fa-tags(title="Tag cloud")
        span /
        a(href="/tags/{{tag}}") {{tag}}

    .page-content
      h1
        | Projects tagged with
        span(v-repeat="tag.split(',')")
          | {{($index ? ' + \"' : ' \"') + $value + '\"'}}

      bb-things(things="{{things}}")

      .fa.fa-spinner.fa-spin(v-show="!loaded")

      .weak(v-show="loaded && !things.length")
        | (No projects found.)
