script#thing-view-template(type="text/x-template")
  h1.title {{thing.title || thing.name}}

  subsection-menu(subsections="{{viewSections}}")
    button.success(v-show="isOwner" v-on="click:editThing")
      .fa.fa-pencil
      | Edit
    button.success(v-show="isOwner && !thing.published" v-on="click:publish")
      .fa.fa-book
      | Publish

  .overview
   .owner
      a(href="/{{thing.owner}}")
        bb-avatar(name="{{thing.owner}}" size="alarge")
      | Created by{{' '}}
      a(href="/{{thing.owner}}")
        | {{thing.owner}}

    .stats
      div
        .value {{thing.stars | humanNumber}}
        .label Stars

      div
        .value {{thing.views | humanNumber}}
        .label Views

      div
        .value {{thing.comments | humanNumber}}
        .label Comments

      // TODO Add copies/remakes

    .details
      h2 Details
      .parent(v-show="thing.parent")
        .fa.fa-child
        | a(href="{{thing.parent}}") {{thing.parent}}

      .link
        .fa.fa-link
        span.weak(v-show="!thing.url") (No link)
        a(v-show="thing.url" href="{{thing.url}}" target="_blank")
          | {{util.prettyURL(thing.url)}}

      .published
        .fa.fa-clock-o
        span(v-if="thing.published") Published {{thing.published | timeSince}}
        span(v-if="!thing.published") Unpublished

     .license
      h2 License
      thing-license

    .tags
      h2 Tags
      span.weak(v-show="!thing.tags.length") (No tags)

      span.tag(v-show="thing.tags" v-repeat="tag:thing.tags")
        a(v-attr="href:'/tags/' + tag") {{tag}}
        = ' '

    .stars
      h2 Starred by
      span.weak(v-show="!stars.length")
        | Be the first to <a v-on="click:star()"> star this thing</a>.
      bb-profiles(profiles="{{stars}}" small="true")

  .view-contents
    .subsection
      bb-carousel(media="{{media}}")

    .subsection
      .actions
        a.fa.fa-edit(v-show="isOwner" v-on="click:editThing('instructions')")
      h1#instructions Instructions
      div(v-markdown="thing.instructions")
      .empty(v-if="!thing.instructions")
        p.weak (No instructions)
        button.success(v-show="isOwner" v-on="click:editThing('instructions')")
          .fa.fa-pencil
          | Edit

    .subsection
      h1#downloads Downloads
      file-manager(files="{{files}}")
      thing-license

    .subsection
      h1#comments Comments
      bb-comments(comments="{{comments}}")
