script#thing-view-template(type="text/x-template")
  #overview
  h1.title {{thing.title || thing.name}}

  subsection-menu(subsections="{{viewSections}}")
    button.success(v-show="isOwner" v-on="click:editThing") Edit
    button.success(v-show="isOwner && !thing.published" v-on="click:publish")
      | Publish

  .overview
    .details
      .parent(v-show="thing.parent")
        .fa.fa-child
        | a(href="{{thing.parent}}") {{thing.parent}}

      .link
        .fa.fa-link
        span.weak(v-show="!thing.url") (No link)
        a(v-show="thing.url" href="{{thing.url}}" target="_blank") {{thing.url}}

      .published
        .fa.fa-clock-o
        span(v-if="thing.published") Published {{thing.published | timeSince}}
        span(v-if="!thing.published") Unpublished

    .owner
      a(href="/{{thing.owner}}")
        img.avatar(v-attr="src:'/api/profiles/' + thing.owner + '/avatar'")
      | Created by{{' '}}
      a(href="/{{thing.owner}}")
        | {{thing.owner}}

    .stats
      div
        .value {{thing.stars | humanNumber}}
        .label Stars

      div
        .value {{0 | humanNumber}}
        .label Views

      div
        .value {{thing.comments | humanNumber}}
        .label Comments

      // TODO Add copies/remakes

    .license
      h2 License
      thing-license

    .tags
      h2 Tags
      span.weak(v-show="!thing.tags.length") (No tags)

      span.tag(v-show="thing.tags" v-repeat="tag:thing.tags")
        a(v-attr="href:'/tags/' + tag") {{tag}}
        = ' '

    .stars
      h2 Starred by
      span.weak(v-show="!stars.length")
        | Be the first to <a v-on="click:star()"> star this thing</a>.
      bb-profiles(profiles="{{stars}}" small="true")

  .view-contents
    .subsection
      bb-carousel(media="{{media}}")

    .subsection
      a.top(href="#overview" title="Back to top"): .fa.fa-arrow-circle-up
      h1#instructions Instructions
      div(v-markdown="thing.instructions")

    .subsection
      a.top(href="#overview" title="Back to top"): .fa.fa-arrow-circle-up
      h1#downloads Downloads
      file-manager(files="{{files}}")
      thing-license

    .subsection
      a.top(href="#overview" title="Back to top"): .fa.fa-arrow-circle-up
      h1#comments Comments
      bb-comments(comments="{{comments}}")
