script#thing-dangerous-template(type="text/x-template")
  .thing-dangerous
    div
      h2 Rename project
      thing-name-validator(owner="{{thing.owner}}")

      .rename-thing
        button(v-on="click:askRename" v-disable="!nameIsValid") Rename
        bb-modal(ref="rename-thing" buttons="cancel rename" callout="top-left")
          .modal-header Rename this project?
          .modal-content
            | External links to this project may be broken.

    div
      h2 Delete project
      .delete-thing
        button(v-on="click:askDelete") Delete
        bb-modal(ref="delete-thing" buttons="cancel delete" callout="top-left")
          .modal-header Delete this project?
          .modal-content
            | It is not possible to undelete a project.  All information will be
            | lost.

    p Deletes are irrevocable.  Be careful.

