script#thing-license-template(type="text/x-template")
  | Permission to use the contents of this project is granted by
  | <a href="/{{thing.owner}}">{{thing.owner}}</a> under the terms of
  | the <a href="{{thing.license_url}}">{{thing.license}}</a>.
