script#thing-template(type="text/x-template")
  page-layout
    .header-content
      .widgets
        bb-stars(thing="{{thing}}")
        //bb-children(children="{{thing.children}}")

      .breadcrumbs
        a(href="/explore/creations"): .fa.fa-cubes(title="Creations")
        span /
        a(href="/{{thing.owner}}#creations") {{thing.owner}}
        span /
        a(href="/{{thing.owner}}/{{thing.name}}") {{thing.name}}

    .page-content
      button.success(v-show="isOwner && !editing" v-on="click:edit()") Edit
      button.success(v-show="editing" v-on="click:save()") Save
      button(v-show="editing" v-on="click:cancel()") Cancel Edit
      button(v-show="isOwner && !editing && !thing.published"
        v-on="click:publish()") Publish

      .menu
        a(v-repeat="subsection:subsections" v-attr="href:'#' + subsection"
          v-show="subsection != 'maintenance' || isOwner")
          | {{subsection}}

      .section(v-component="thing-{{subsection}}")
