script#things-template(type="text/x-template")
  .things
    .thing-preview(v-repeat="thing:things" v-class="draft:!thing.published")
      a(href="/{{thing.owner}}/{{thing.name}}"
        title="{{thing.title || thing.name}}")
        .title {{thing.title || thing.name}}

        .image
          img(v-if="thing.image" v-attr="src:thing.image + '?size=small'")
          .missing(v-if="!thing.image")
            .fa.fa-image

      .info
        a.owner(href="/{{thing.owner}}",
          title="View {{thing.owner}}'s profile")
          | by <span>{{thing.owner}}</span>

        bb-stars(thing="{{thing}}")

        a.comments(href="/{{thing.owner}}/{{thing.name}}#comments",
          title="View comments")
          | {{thing.comments | humanNumber}}
          span.fa.fa-comments

        .views(title="{{thing.views}} Views")
          | {{thing.views | humanNumber}}
          span.fa.fa-eye
