script#thing-view-template(type="text/x-template")
  .draft(v-if="!thing.published" title="This project is incomplete.")
    .fa.fa-pencil
    | &nbsp;DRAFT&nbsp;
    .fa.fa-pencil

  .overview
    bb-carousel(media="{{media}}" dots="false")

    .details
      h2 Details

      .owner
        .fa.fa-user
        | By <a href="/{{thing.owner}}">{{thing.owner}}</a>
        | ({{thing.owner_points | humanNumber}})

      .parent(v-show="thing.parent")
        .fa.fa-child
        | a(href="{{thing.parent}}") {{thing.parent}}

      .link
        .fa.fa-link
        span.weak(v-show="!thing.url") (No link)
        a(v-show="thing.url" href="{{thing.url}}" target="_blank")
          | {{util.prettyURL(thing.url)}}

      .published
        .fa.fa-clock-o
        span(v-if="thing.published") Published {{thing.published | timeSince}}
        span(v-if="!thing.published") Draft

    .license
      h2 License
      thing-license

    .tags
      h2 Tags
      span.weak(v-show="!thing.tags.length") (No tags)

      span.tag(v-show="thing.tags" v-repeat="tag:thing.tags")
        a(v-attr="href:'/tags/' + tag") {{tag}}
        = ' '

    .stars
      h2 Starred by
      p.weak(v-show="!stars.length")
        | (No stars yet)
      bb-profiles(profiles="{{stars}}" small="true")

  .view-contents
    .subsection
      .actions
        bb-stars(thing="{{thing}}" button="true")

        button.success(v-show="canPublish && !thing.published"
          v-on="click:publish()" title="Publish this project.")
          .fa.fa-book
          | Publish

        button.success(v-show="canEdit" v-on="click:editThing('instructions')"
          title="Edit instructions.")
          .fa.fa-pencil
          | Edit

      h1#instructions(title="{{thing.title || thing.name}}")
        | {{thing.title || thing.name}}

      div(v-if="thing.instructions" v-markdown="thing.instructions")

      .empty(v-if="!thing.instructions")
        p.weak (No instructions)

    .subsection(v-if="downloads.length")
      h1#downloads Downloads
      file-manager(files="{{downloads}}")
      thing-license

    .subsection
      h1#comments Comments
      bb-comments(comments="{{comments}}")
