script#thing-view-template(type="text/x-template")

  .sidebar
    bb-carousel(media="{{media}}" dots="false")

    .stats
      div
        a.value(href="#files") {{thing.downloads | humanNumber}}
        .label Files

      div
        a.value(href="#comments") {{thing.comments | humanNumber}}
        .label Comments

      div
        .value {{thing.stars | humanNumber}}
        .label Stars

      div
        .value {{thing.views | humanNumber}}
        .label Views

    .details
      .published
        .fa.fa-clock-o
        div(v-if="thing.published" title="Publish date")
          | {{thing.published | timeSince}}
        div(v-if="!thing.published" title="This project is incomplete")
          | DRAFT

      .owner(title="Project owner")
        .fa.fa-user
        div
          | by <a href="/{{thing.owner}}">{{thing.owner}}</a>
          | ({{thing.owner_points | humanNumber}})

      .parent(v-if="thing.parent" title="Parent project")
        .fa.fa-child
        div a(href="{{thing.parent}}") {{thing.parent}}

      .tags(title="Tags")
        .fa.fa-tags
        div
          span.tag(v-repeat="thing.tags")
            | {{$index ? ', ' : ' '}}
            a(href="/tags/{{$value}}" title="{{$value}} tag") {{$value}}
          .weak(v-if="!thing.tags.length") (No tags)

      .license(title="License")
        .fa.fa-file-text
        div: thing-license

      .stars(title="People who have starred this project")
        .fa.fa-star
        bb-profiles(v-if="stars.length" profiles="{{stars}}" small="true")
        .weak(v-if="!thing.stars") (No stars yet)


  .view-contents
    .subsection
      div(v-show="thing.instructions" v-markdown="thing.instructions")
      .weak(v-show="!thing.instructions") (No instructions)

    .subsection(v-if="downloads.length")
      h1#files Files
      file-manager(files="{{downloads}}")
      thing-license

    .subsection
      h1#comments Comments
      bb-comments(comments="{{comments}}")
