script#thing-details-editor-template(type="text/x-template")
  h2 Title
  input(v-model="edit_title" v-on="input:changed" maxlength="128")

  h2 Link
  input(v-model="edit_url" v-on="input:changed" maxlength="256")

  h2 License
  select(v-model="edit_license" v-on="change:changed")
    option(v-repeat="license:licenses" value="{{license.name}}"
      v-attr="selected:license.name == thing.license") {{license.name}}

  p {{{getLicenseDescription(edit_license)}}}

  h2 Tags
  tag-editor(tags="{{edit_tags}}" v-events="change:changed")

  .actions
    button.success(v-on="click:save()" v-disable="!modified"
      title="Save changes")
      .fa.fa-save
      | Save Details
