script#thing-name-validator-template(type="text/x-template")
  .thing-name-validator
    input(type="text" name="name" v-model="newName | nameValidator"
      maxlength="32" placeholder="Choose a name")

    span.fa.fa-check.success(v-show="valid")

    span(v-show="checking")
      .fa.fa-spin.fa-spinner
      | Checking name availability. . .

    span.error(v-show="!available")
      | This name is already in use.

    span.error(v-show="shortName")
      | Name is too short.  Must be at least 2 characters long.

    span.error(v-show="spaces")
      | Names cannot contain spaces.

    span.error(v-show="invalidChars")
      | Names can only contain letters, numbers, underscores and periods.

    span(v-show="required")
      | Choose a name for your thing.
