script#thing-template(type="text/x-template")
  .thing
    .header
      .header-content
        .widgets
          bb-stars(thing="{{thing}}")
          //bb-children(v-with="thing")

        .path
          .fa.fa-cubes(title="Creations")
          | <a href="/{{thing.owner}}">{{thing.owner}}</a> /
          | <a href="/{{thing.owner}}/{{thing.name}}">{{thing.name}}</a>

    .page-content
      ul.menu
        li(v-repeat="subsection:subsections")
          a(v-attr="href:'#' + subsection") {{subsection}}

      .section(v-component="thing-{{subsection}}")
