script#thing-overview-template(type="text/x-template")
  bb-carousel(media="{{media}}")
    | Select <a href="#files">Files</a> to add media.

  .info
    table
      tr
        th Title
        td(title="{{thing.title || thing.name}}")
          span(v-show="!editing") {{thing.title || thing.name}}
          input(v-show="editing" v-model="edit_title" maxlength="128")

      tr(v-show="thing.parent")
        th Parent
        td
          a(href="{{thing.parent}}") {{thing.parent}}

      tr
        th Link
        td
          span.weak(v-show="!editing && !thing.url") (No link)
          a(v-show="!editing && thing.url" href="{{thing.url}}" target="_blank")
            | {{thing.url}}
          input(v-show="editing" v-model="edit_url" maxlength="256")

      tr
        th Created
        td {{thing.created | timeSince}}

      tr
        th Modified
        td {{thing.modified | timeSince}}

      tr
        th License
        td
          div(v-show="!editing")
            | Permission to use the contents of this project is granted by
            | <a href="/{{thing.owner}}">{{thing.owner}}</a> under the terms of
            | the <a href="{{thing.license_url}}">{{thing.license}}</a>.

          select(v-show="editing" v-model="edit_license")
            option(v-repeat="license:licenses" value="{{license.name}}"
              v-attr="selected:license.name == license") {{license.name}}

      tr
        th Tags
        td
          span.weak(v-show="!editing && !thing.tags.length") (No tags)

          .tags
            span.tag(v-show="!editing && thing.tags" v-repeat="tag:thing.tags")
              a(v-attr="href:'/tags/' + tag") {{tag}}
              = ' '

          span(v-show="editing"): tag-editor(tags="{{edit_tags}}")

      tr
        th Stars
        td
          span.weak(v-show="!stars.length")
            | Be the first to <a v-on="click:star()"> star this thing</a>.
          bb-profiles(profiles="{{stars}}" small="true")
