script#user-status-template(type="text/x-template")
  .user-status
    a.header-nav.sign-in(v-show="!isLoggedIn" v-on="click:signIn")
      | Login or Register

    a.header-nav.user(v-show="isLoggedIn" href="/dashboard")
      bb-avatar(name="{{user.name}}")
      .name {{user.name}}
      | ({{user.points | humanNumber}})

    a.header-nav.sign-out(v-show="isLoggedIn" v-on="click:signOut()"
      title="Sign Out")
      .fa.fa-sign-out
      span.text Logout
