golden_ratio = 1.6180339887498948482
page_width = 960px
min_page_width = 200px
header_height = 50px
overview_width = 200px
content_width = 720px
edit_menu_width = 8em
carousel_width = content_width
carousel_height = carousel_width / golden_ratio

link_color = #e5aa3d
link_hover_color = #428bca
text_color = #344
medium_text_color = #666
light_text_color = #888
border_color = #ddd

header_color = #ededed
header_border_color = border_color
secondary_header_color = #fafafa
secondary_header_border_color = #f1f1f1

table_header_color = #fff
table_odd_color = secondary_header_color
table_even_color = header_color
table_hover_color = #d8d8d8

thing_width = 300px
thing_height = ((thing_width) / 1.618)

google_color = #cc3d2d
facebook_color = #2b3990
twitter_color = #27aae1
github_color = #1c75bc


// Links
a, a:visited
  color link_color
  text-decoration none
  cursor pointer

a:hover, a:focus
  text-decoration underline
  outline 0

a:hover
  color link_hover_color !important

a.fa, a.fa:visited
  color light_text_color

  &:hover
    text-decoration none

a.disabled, a:hover.disabled
    color light_text_color !important
    cursor default


// Special text
.warn
  color #ff6000

.error
  color red

.success
  color green

.weak
  font-weight normal
  color light_text_color

.help
  color medium_text_color

// Buttons
button
  border 1px solid border_color
  border-radius 3px
  background-color #eee
  background-image linear-gradient(#fcfcfc, #eee)
  padding 4px
  color link_color
  cursor pointer

  &::-moz-focus-inner
    border none

  &:hover
    color link_hover_color

  &.success
    background #5cb85c
    border-color #4cae4c
    color #fff
    transition 0.25s

    &:hover
      background #449d44
      border-color #398439

  &:disabled, &:hover:disabled, &.disabled, &.disabled:hover
    background-color header_color
    color light_text_color !important
    border-color border_color
    cursor default

  > .fa
    margin 0 0.25em

p > button
  margin 0 0.5em


// Inputs
.CodeMirror-focused, .tag-editor-focused, input:focus, textarea:focus,
  select:focus
  border 1px solid rgba(82, 168, 236, 0.8)
  box-shadow 0 0 8px rgba(82, 168, 236, 0.6)
  outline thin dotted \9


// Clear
.clear
  height 1px
  margin-bottom -1px
  clear both


// hr
hr
  border none
  border-bottom 1px solid border_color
  height 1px


// Code
code
  background-color rgba(200, 200, 200, 0.3)
  font-size 110%
  padding 2px
  border-radius 3px
  overflow-x auto
  white-space nowrap

pre code
  padding 0.5em 1em
  border-left 5px solid #bbb
  display block
  white-space pre

// Headings
h1, h2, h3, h4
  color light_text_color
  margin-top 0.5em
  margin-bottom 0.25em

h1
  color medium_text_color
  font-size 22pt
  font-weight normal

h2
  font-size 16pt

h3
  font-size 14pt

// em
em
  color medium_text_color


// Video
video
  &.large
    max-width 100%
    width 700px
    max-height 433px

  &.small
    max-width 100%
    width 300px
    max-height 185px

  &.thumb
    max-width 100%
    width 120px
    max-height 100px


// Body
body
  background-image url(/images/grid.png)
  margin 0
  font-family 'Roboto Slab', serif
  overflow-y scroll


// Layout
#page
  #header-content
    min-width min_page_width
    max-width page_width
    min-height header_height
    margin 0 auto
    overflow hidden

  #content
    margin auto
    min-width min_page_width
    margin-bottom 4em

    .header-content, .page-content
      max-width page_width
      margin auto

  #footer
    color light_text_color
    min-height 1.5em
    min-width min_page_width
    max-width page_width
    margin 2em auto 0 auto


// Header
#header
  border-bottom 1px solid header_border_color
  background-color header_color
  padding 0 1em

  a
    text-decoration none
    color medium_text_color

  .logo
    float left
    margin-right 2.5em
    padding 4px 0 0 0
    font-size 24pt
    text-shadow 2px 2px 4px #bbb

    img
      height header_height - 10px
      vertical-align bottom
      margin-right 0.25em

  #main-header-nav, #context-header-nav
    display inline-block
    white-space nowrap

    > *
      display inline-block

    a.header-nav > .fa-caret-down
      font-size 10pt
      line-height 10px
      margin-left 0.25em
      margin-right 0

  #main-header-nav
    float left

    a.header-nav
      text-transform uppercase
      font-size 16pt

  #explore-nav, #user-nav
    display none
    transition-delay 0.25s
    z-index 110
    position absolute
    padding 0
    margin 0
    background header_color
    border 1px solid border_color
    border-top none
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

    > a.header-nav
      font-size 12pt
      display block
      line-height normal
      height auto

      .fa
        width 1.75em

  #context-header-nav
    float right

  a.header-nav
    line-height header_height - 20px
    height header_height - 20px
    padding 10px
    display inline-block
    transition 0.25s

    &:hover
      color #f0ac48
      background-color #f7f9f7

  a.user
    position relative
    line-height header_height - 4px
    height header_height - 4px
    padding 2px 5px
    vertical-align 1px

    > *
      display inline-block
      margin-right 0.5em

    .avatar
      vertical-align -10px

  .sign-out
    font-size 14pt

    .text
      display none


// Page header
#page #content .page-header
  font-size 18pt
  margin 0 0 0.25em 0
  padding 0.5em
  background-color secondary_header_color
  border-bottom 1px solid secondary_header_border_color
  color medium_text_color

  .widgets
    float right

    > div
      display inline-block
      margin-left 1em

  .breadcrumbs
    > *
      margin-right 0.25em

    .fa
      width 1.5em


// Footer
#footer
  font-size 10pt
  border-top 1px solid border_color
  padding 2em 1em 1em 1em

  .copyright
    margin-right 1em

  .footer-nav
    margin 0 0.5em


// Login
.login
  font-size 20pt

  > div
    margin 1em

    .fa
      font-size 24pt
      width 1.5em
      color #fff
      border-radius 20px
      height 40px
      width 40px
      line-height 42px
      text-align center
      margin-right 0.25em

    &.google a
      color google_color
      .fa
        background-color google_color

    &.facebook a
      color facebook_color
      .fa
        background-color facebook_color

    &.twitter a
      color twitter_color
      .fa
        background-color twitter_color

    &.github a
      color github_color
      .fa
        background-color github_color


// Register
.register-page
  p
    margin 1em 0

  .fa
    margin 0 0.5em

  .suggestion
    margin 0.5em


// Logo
.logo
  .left, .right
    display inline
    font-family Audiowide

  .left
    color #444

  .right
    color link_color


// Home
.home-page
  text-align center

  .intro
    background-color #dedede
    padding 2em

    .banner
      text-shadow 2px 2px 4px #666

      .logo
        font-size 80pt

      .byline
        color #444
        font-size 20pt

    .login button
      margin 3em 0
      padding 0.75em
      font-size 18pt
      box-shadow 4px 4px 5px #555

    background url(/images/home-bg-gray.jpg)
    background-size 150% auto
    background-repeat no-repeat
    background-position 0 -300px

  .info
    padding 3em 0

  .panel
    display inline-block
    margin 0.5em
    text-align center
    width 12em
    vertical-align top
    color #666
    font-family Lato
    font-size 18pt
    line-height 1.5em

    .panel-header
      font-family Audiowide
      font-size 28pt
      text-shadow 2px 2px 4px #bbb

      img
        display block
        margin 0.5em auto
        border-radius 200px
        border 2px solid transparent
        background-color #dedede
        transition 0.25s

      a:hover img
        border 2px solid #189ed6

      a, a:hover
        display inline-block
        margin 0.25em
        color #666
        text-decoration none
        transition 0.25s

      a:hover
        color #189ed6 !important


// Explore
#page #content.explore-page .page-content
  padding 1em
  max-width initial

  > .loading
    text-align center
    max-width page_width
    margin auto

    .fa
      color medium_text_color
      font-size 24pt
      margin 0.25em

  .search
    margin-bottom 1em
    text-align center

    input
      width 20em

    input, button
      margin-right 0.5em

  .things, .profiles
    text-align center

  .explore-events
    width page_width
    margin auto

  .tag-cloud
    margin 1em auto
    width page_width * 0.8
    height (page_width * 0.8 / golden_ratio)


// Create
.create-page
  .page-content .fa
    margin-right 0.5em

  th
    text-align left

  td > span
    margin 0 0.5em

  input[name=name]
    width 20em

  input[name=title]
    width 25em


// Avatar
.avatar
  border-radius 3px
  margin 4px 4px 0 0


// Points, followers, stars
.points, .followers, .stars
  position relative

  .fa
    margin-right 5px
    color link_color

  .modal
    white-space nowrap

  > a
    color medium_text_color

    .fa
      color medium_text_color

    .active
      color link_color

    &:hover
      text-decoration none

      .active
        color link_hover_color


// Things
.things
  a:hover
    text-decoration none

  .thing-preview
    display inline-block
    margin 1em 10px 1em 10px
    width thing_width
    overflow hidden
    cursor pointer
    font-family "Times New Roman", Times, serif
    text-align left

    &.draft
      .image:before
        position absolute
        content "DRAFT"
        font-size 55pt
        line-height thing_height
        transform rotate(-30deg)
        opacity 0.5
        width thing_width
        text-align center
        z-index 10
        color #000 !important

      .image:after
        position absolute
        content " "
        display block
        margin-top -(thing_height)
        width thing_width
        height thing_height
        background-color #fff
        opacity 0.25

    .image
      width thing_width - 2px
      height thing_height - 2px
      border-radius 6px
      border 1px solid border_color
      background header_color
      background-image url('/images/spinner.gif')
      background-repeat no-repeat
      background-position center
      overflow hidden

      img
        background #fff
        max-width thing_width - 2px
        height thing_height - 2px
        margin auto
        display block

        &.stretch
          width thing_width - 2px

      .missing
        background-color #eee
        text-align center

        .fa
          font-size 64pt
          line-height thing_height

    a:hover .image
      border 1px solid #aaa

    .info
      margin 0 0.2em

    .owner
      white-space nowrap
      color text_color
      font-size 12pt
      float left

      span
        color link_color

      &:hover span
        color link_hover_color

    .title, .owner, .stars, .comments
      display block
      white-space nowrap

    .title
      text-overflow ellipsis
      overflow hidden

    .stars, .comments
      font-size 12pt
      margin 0 0.1em 0 0.5em
      color light_text_color

      &:hover
        color text_color

    .fa
      font-size 11pt

    .stars
      float right

    .comments
      float right

    .title
      font-size 18pt
      margin 0 0.2em
      clear both
      color text_color


// Thing & Profile common
.thing-page, .profile-page
  .title
    font-size 28pt
    overflow hidden
    text-overflow ellipsis
    text-align center

  .menu
    background-color #f3f3f3
    border 1px solid border_color
    border-top-left-radius 3px
    border-top-right-radius 3px
    margin 1em 0 2em 0
    padding 0.5em 0.25em 0 0.25em

    a
      display inline-block
      text-transform capitalize
      font-size 14pt
      background-color #fff
      border-top-left-radius 3px
      border-top-right-radius 3px
      border 1px solid border_color
      padding 0.125em 0.25em
      margin-left 0.25em
      margin-bottom -1px

      &.active
        border-bottom 1px solid #fff
        color medium_text_color !important

      &:active, &:visited, &:hover, &:focus
        text-decoration none

    button
      float right
      margin -0.25em 0.25em 0 0

  .overview
    float right
    margin 0 0 1em 1em
    font-size 11pt
    color medium_text_color
    max-width overview_width

    h1
      color text_color
      font-size 14pt

    h2
      font-size 16pt
      border-bottom 1px solid border_color

    > *
      max-width overview_width
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      margin-bottom 2em

    .fa
      width 1.25em
      font-size 12pt

    > .owner
      text-align center

      .avatar
        display block
        margin auto

    > .details
      margin-bottom 1.5em

      > *
        margin-bottom 0.5em
        overflow hidden
        text-overflow ellipsis

    > .stats
      white-space normal
      text-align center
      padding 1em 0
      border-top 1px solid border_color
      border-bottom 1px solid border_color

      > div
        display inline-block
        width 33%
        text-align center

      .value
        font-weight bold
        font-size 18pt

      .label
        font-size 10pt

  .edit-menu
    float left
    width edit_menu_width

    background-color #fff
    border 1px solid border_color
    border-radius 3px

    > a
      display block
      padding 1em

      border-top 1px solid border_color
      text-transform capitalize
      font-size 12pt
      padding 0.25em

      &:first-of-type
        border-top none

      &.active, &.active:hover
        color text_color !important
        text-decoration none
        border-left 3px solid border_color

  .view-contents, .edit-contents
    max-width content_width + 2px // Account for border

  .edit-contents
    margin-left edit_menu_width + 2em

    h1:first-of-type
      text-transform capitalize
      border-bottom 1px solid border_color
      margin-bottom 1em

    button
      margin-top 0.5em
      margin-right 0.25em

  .view-contents
    > .subsection
      padding 0 0 5em

      > .actions
        float right

        .fa
          font-size 20pt
          margin-top 0.25em

      > h1:first-of-type
        margin-top 0

      > h1
        text-align center
        //border-bottom 1px solid border_color

      > .weak
        text-align center

  .page-content > .actions > button
    float right
    margin 0.5em

  .markdown
    font-family Open Sans, sans-serif
    color #222
    padding 0 1em
    background #fff
    border 1px solid border_color
    border-radius 3px
    word-break normal
    word-wrap break-word
    overflow auto

    p
      text-overflow ellipsis

.thing-details-editor, .profile-details-editor, .thing-dangerous
  > div
    margin-bottom 2em

    > input, > select, > .tag-editor, > p
      width 30em


// Thing
.thing-page
  .overview
    .owner, .published, .license, .tags, .stars
      white-space normal

  .delete-thing, .rename-thing
    display inline-block
    position relative

    .modal
      min-width 20em

.thing-name-validator
  > input
    width 30em

  .fa
    margin 0 0.5em


// Profiles
.profiles
  > a
    text-align left
    display inline-block
    color text_color

    &:hover, a:hover
      text-decoration none
      color link_hover_color

    .avatar
      display block
      border-radius 4px
      margin auto
      vertical-align middle

    .footer
      white-space nowrap

    .name
      overflow hidden
      text-overflow ellipsis

    .points
      float right

.profiles-large .profiles > a
  width 150px
  margin 1em 1em 1em 0

  .avatar
    border 1px solid border_color
    width 150px
    height 150px

  &:hover .avatar
    border 1px solid #444

.profiles-small .profiles > a
  margin 0 0.25em 0.25em 0
  text-align center

  .name, .points
    display none

  .avatar
    max-width 32px
    max-height 32px


// Profile
.profile-page
  .things
    text-align center

    .thing-preview
      margin 1em 1.75em

  .subsection > h1
    border-bottom 1px solid border_color

.profile-edit-picture
  .dropzone
    width 150px
    height 150px
    border 1px solid border_color
    text-align center
    background-color white

    .avatar
      margin 0
      border-radius 0

  .progressbar
    width 200px
    margin 0.5em 0


// Comments
.comment
  margin 0 0 2em 0

  .avatar
    position absolute

  .comment-wrapper
    border-radius 3px
    border 1px solid border_color
    margin-left 50px
    position relative

    &:before, &:after
      width 0
      height 0
      content ' '
      display block
      border-color transparent
      border-style solid solid outset
      position absolute
      top 12px
      left -16px

    &:before
      border-right-color border_color
      border-width 8px

    &:after
      border-right-color header_color
      border-width 8px
      margin-left 1px

  .comment-header
    border-top-left-radius 3px
    border-top-right-radius 3px
    border-bottom 1px solid border_color
    padding 0.5em
    background header_color
    color light_text_color
    font-size 80%
    height 2.5em
    line-height 2.5em

    > a
      color text_color
      font-weight bold

    .actions
      float right
      white-space nowrap

      > .fa
        margin-left 0.5em
        font-size 12pt

  .comment-content
    max-height 60em
    overflow auto

    .markdown
      padding 0.5em
      border none

    .markdown-editor
      border none


// Tags
.tags
  line-height 2em

  .tag
    border-radius 3px
    background-color link_color
    margin 0 0.25em 0.25em 0
    padding 0.125em 0.25em

    &:hover
      background-color link_hover_color

    a
      color #000

      &:hover
        text-decoration none
        color #000 !important


// Tag cloud
.tag-cloud
  font-size 10pt
  line-height normal
  color #e5aa3d
  overflow hidden
  position relative
  width page_width
  height (page_width / golden_ratio)

  a
    font-size inherit
    text-decoration none
    color inherit

  span
    padding 0

  .w9
    font-size 352%
    color #e5aa3d

  .w8
    font-size 206%
    color #e0ab4b

  .w7
    font-size 266%
    color #dbad59

  .w6
    font-size 231%
    color #d7af67

  .w5
    font-size 201%
    color #d2b175

  .w4
    font-size 175%
    color #cdb383

  .w3
    font-size 152%
    color #c9b591

  .w2
    font-size 132%
    color #c4b79f

  .w1
    font-size 115%
    color #bfb9ad

  .w0
    font-size 100%
    color #bbbbbb


// Tag Editor
.tag-editor
  display inline-block
  border 1px inset border_color
  border-radius 3px
  background-color #fff

  .tag-editor-wrapper
    overflow hidden

  &.tag-editor-focused
    border 1px solid rgba(82, 168, 236, 0.8)

  .tag-editor-tag
    border-radius 3px
    background link_color
    margin 4px
    padding 2px 4px
    display inline-block

  .tag-editor-text
    font-size 14px
    display inline-block

  .tag-editor-delete
    color medium_text_color
    font-weight bold
    text-decoration none
    cursor pointer
    margin-left 6px
    display inline-block

  .tag-editor-input
    font-size 14px
    padding 2px 4px
    border none
    outline none
    width 100%
    background transparent

    &:focus
      box-shadow none

  .tag-editor-measure
    position absolute
    left -999px


// Events
.events .event
  padding 1em
  border-bottom 1px solid border_color

  .content
    margin-left 3em

  .when
    color medium_text_color

  .fa
    float left
    font-size 18pt
    color light_text_color

  img
    vertical-align middle

// Markdown
input, textarea, select
  border 1px inset border_color
  border-radius 3px
  padding 4px
  background-color #fff

.markdown-editor
  border-radius 3px
  background #fff
  border 1px solid border_color
  white-space normal

  .markdown-header .actions
    float right
    color light_text_color

    > *, > button
      margin 0.0625em 0.125em 0.0625em 0.5em

  .modified
    margin 0.25em 0.125em
    font-size 8pt
    float left
    color light_text_color

  .fullscreen-btn
    vertical-align bottom
    font-size 22pt
    cursor pointer

  .fullscreen-msg
    color medium_text_color
    font-size 18pt
    display none

  .markdown-menu
    background-color #f3f3f3
    border-bottom 1px solid border_color
    border-top-left-radius 3px
    border-top-right-radius 3px
    padding 0.25em 0.25em 0 0.25em

    a
      display inline-block
      background-color #fff
      margin-bottom -1px
      border-top-left-radius 3px
      border-top-right-radius 3px
      border 1px solid border_color
      padding 0.25em
      margin-left 0.25em

      &.active
        border-bottom 1px solid #fff

      &:hover
        text-decoration none

  .markdown-toolbar
    .button-group
      display inline-block
      margin 0.25em 1em 0.25em 0.25em

      a
        display inline-block
        border 1px solid border_color
        padding 0.125em 0.25em
        border-right none
        background-color #eee
        background-image linear-gradient(#fcfcfc, #eee)

        &:hover
          text-decoration none

        &:first-of-type
          border-top-left-radius 3px
          border-bottom-left-radius 3px

        &:last-of-type
          border-top-right-radius 3px
          border-bottom-right-radius 3px
          border-right 1px solid border_color

        &.disabled, &:hover.disabled
          background-color header_color
          color light_text_color !important
          border-color border_color
          cursor default

  .markdown-help
    border-bottom 1px solid border_color
    overflow auto
    font-size 90%

    .markdown-help-menu, .markdown-help-submenu
      float left
      height 13em
      width 12em
      transition 0.5s

      a
        display block
        padding 0.25em 0.5em
        margin 0
        border-top 1px solid transparent
        border-bottom 1px solid transparent
        transition 0.5s

        &:first-of-type
          margin-top 0.75em

        &:hover
          text-decoration none
          box-shadow 0 1px 2px #f0f0f0
          background-color #fff

        &.active, &.active:hover
          box-shadow 0 1px 2px #f0f0f0
          background-color #fff
          color text_color !important
          border-top 1px solid border_color
          border-bottom 1px solid border_color

    .markdown-help-submenu
      background-color #f3f3f3
      margin-right 0.5em
      border-right 1px solid border_color
      border-left 1px solid border_color

    .markdown-help-content
      padding 0.5em
      font-size 95%
      color medium_text_color
      transition 0.5s

      p:first-of-type
        margin-top 0

  .markdown-toolbar
    border-bottom 1px solid border_color

  .markdown-footer
    padding 0.25em
    text-align right
    font-size 10pt
    font-family 'courier 10'
    color light_text_color
    background-color secondary_header_color
    border-top 1px solid border_color

  .markdown-preview
    overflow auto
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    word-break normal
    word-wrap break-word
    min-height 5em

    .markdown-preview-content
      padding 0 1em

  .CodeMirror
    border 1px solid #fff

    &.CodeMirror-focused
      border 1px solid rgba(82, 168, 236, 0.8)

  .CodeMirror-lines
    padding 1em 0

  .CodeMirror pre
    padding 0 1em

  .CodeMirror-empty
    color light_text_color
    font-size 100%

  &.fullscreen
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 10
    overflow-x hidden

    .fullscreen-msg
      display inline

    .markdown-menu > a
      display none

    .markdown-header, .markdown-footer
      display block

    .markdown-content
      overflow-y scroll

    .markdown-edit, .markdown-preview
      min-height 100%
      display inline-block
      width 50%
      vertical-align top

    .markdown-preview
      border-radius 0
      background-color #f6f6f6

    .CodeMirror
      height auto

    .CodeMirror-focused
      border 1px solid transparent
      box-shadow none


// Media selector
.media-selector
  max-width 600px
  text-align center

  .media
    display inline-block

    img, video
      vertical-align middle
      border 2px solid transparent
      border-radius 3px
      background #eee
      transition 0.25s
      max-width 100px
      max-height 100px
      margin 1em

    &:hover
      img, video
        border 2px solid #888

    &.selected
      img, video
        border 2px solid #444


// Progressbar
.progressbar
  background-color #f5f5f5
  border-radius 3px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.1) inset
  text-align center
  overflow hidden
  line-height 2em

  > div
    background-color link_hover_color
    height 2em
    line-height 2em


// Top
#top
  position fixed
  display none
  text-align right
  right 10px
  bottom 10px
  width 8em
  text-align center

  a:hover
    text-decoration none

  .fa
    display block
    font-size 32pt

// Notify
.notify-overlay
  background-color rgba(0, 0, 0, 0.2)

.notify-dialog
  z-index 110
  position absolute
  top 20%
  left 50%
  width 30em
  margin-left -15em
  border-radius 3px
  border 1px solid #aaa
  background-color #fff
  overflow hidden

  > *
    padding 0.5em

  .notify-dialog-header
    background-color header_color
    font-size 14pt
    border-bottom 1px solid border_color

    .fa
      font-size 20pt
      margin-right 0.5em
      vertical-align top

  .notify-dialog-footer
    background-color secondary_header_color
    text-align right
    border-top 1px solid border_color

    button
      margin-left 0.5em


// Modal
.modal
  position absolute
  background #fff
  border-radius 3px
  border 1px solid border_color
  z-index 110
  text-align left

  &.callout-top-right
    right: -10px

  .modal-header, .modal-content, .modal-footer
    padding 0.25em 0.5em

  .modal-header, .modal-footer
    white-space nowrap

  .modal-header
    font-weight bold
    background-color secondary_header_color
    border-bottom 1px solid border_color
    border-top-left-radius 3px
    border-top-right-radius 3px

  .modal-footer
    text-align right

    button
      margin-left 0.5em
      text-transform capitalize

.modal-overlay
  background-color rgba(0, 0, 0, 0.1)


// Overlay
.overlay
  z-index 100
  position fixed
  top 0
  left 0
  width 100%
  height 100%


// Callouts
.callout-top-right, .callout-top-left
  &:before, &:after
    width 0
    height 0
    content ' '
    display block
    border-color transparent
    border-style solid solid solid
    position absolute
    right 12px
    top -15px

  &:before
    border-bottom-color border_color
    border-width 8px

  &:after
    border-bottom-color secondary_header_color
    border-width 8px
    margin-top 1px

.callout-top-right
  &:before, &:after
    right 12px

.callout-top-left
  &:before, &:after
    left 12px


// File manager
.file-manager
  border 1px solid border_color
  border-radius 3px
  background-color #fff

  .file-manager-footer
    padding 1em
    border-top 1px solid border_color
    padding-top 3em

  .preview img
    width 32px
    height 32px
    border-radius 3px
    vertical-align middle

  .progressbar.waiting
    background-color link_color
    text-align center

    > div
      display none

    &:before
      content "Waiting"

  .bb-modal .body
    text-align right

  td, th
    text-align center
    white-space nowrap
    font-size 10pt
    border-right 1px solid border_color
    padding 0.5em 0.75em

    &:last-child
      border-right none

  th
    border-bottom 1px solid border_color
    padding 1em

  td.preview .fa
    font-size 16pt
    color light_text_color

  th.name, td.name
    width 100%
    max-width 100%
    text-align left
    overflow hidden
    text-overflow ellipsis

    a
      color text_color

  th.size, td.size, th.downloads, td.downloads
    min-width 4em
    text-align right

  td.actions
    .delete
      position relative

    .delete, .edit
      display inline-block

    a
      color light_text_color
      margin 0.25em

      &.disabled
        color #ccc !important

  .file-editor
    position absolute
    left 50%
    margin-left -20em
    margin-top -5em
    width 40em

    .modal-content
      > .fa, > img
        display block
        margin 0.5em auto

      > .fa
        width 32pt
        font-size 32pt
        color light_text_color

      > img
        border 1px solid border_color
        max-width 150px
        max-height 150px

      > p
        font-size 12pt
        text-align center

    .modal-header h1
      margin 0
      border-bottom none
      text-transform none

    label
      display block
      margin 0.125em

    input[type=text]
      width 30em

// Table
.table
  border-collapse collapse

  th
    .fa-caret-up, .fa-caret-down
      display none

    .fa
      width 1em

  th.st-sort-ascent, th.st-sort-descent
    .fa-caret-right
      display none

  th.st-sort-ascent .fa-caret-up
    display inline-block

  th.st-sort-descent .fa-caret-down
    display inline-block

.table-striped > thead
  > tr:first-child > th
    background-color table_header_color

.table-striped > tbody
  > tr:nth-child(odd) > td
    background-color table_odd_color

  > tr:nth-child(even) > td
    background-color table_even_color

  > tr:hover > td
    background-color table_hover_color

.modal-active .table-striped > tbody
  > tr:nth-child(odd):hover > td
    background-color table_odd_color

  > tr:nth-child(even):hover > td
    background-color table_even_color


// Carousel
.carousel
  text-align center
  width carousel_width + 2px // Account for border
  height carousel_height + 2px // Account for border
  position relative

  .expand
    position absolute
    right -0.75em
    z-index 10
    margin-right 1em
    font-size 24pt
    color medium_text_color
    opacity 0.75

    &:hover
      opacity 1

      .fa
        color medium_text_color

  .slick-list
    border-radius 3px
    border 1px solid border_color
    background-color header_color
    background-image url('/images/spinner.gif')
    background-repeat no-repeat
    background-position center
    height carousel_height

  &.changing .slick-list
    background-image none

  img, video
    max-width carousel_width
    height carousel_height
    display inline-block
    background-color #fff
    vertical-align middle

  .stretch
    width carousel_width

  .slick-prev, .slick-next
    width 40px
    height 40px

    &:before
      color medium_text_color
      font-size 24pt
      line-height 40px

  .carousel-empty
    height carousel_height
    line-height carousel_height
    font-size 150%
    background header_color

  &.fullscreen
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 10

    .slick-list
      background-image url('/images/spinner-black.gif')

    &.changing .slick-list
      background-image none

    .slick-list
      background-color #000
      height 100%
      border 0
      border-radius 0

    .slick-prev
      left 10px

    .slick-next
      right 10px

    .slick-track
      height 100%
      line-height 100%

    .carousel-media
      img, video
        height 80%
        width initial
        max-width 80%
        margin 4%


// Sign in
#page #header a.header-nav
  &.user, &.sign-out
    display none

.authorized #page #header a.header-nav
  &.sign-in
    display none !important

  &.user, &.sign-out
    display inline-block !important


// Responsive
@media (max-width 730px)
  #page #header #context-header-nav
    a.header-nav
      float none
      width 100%

@media (max-width 400px)
  #page #header
    #main-header-nav, #context-header-nav
      float none
      display block
      clear both
      width 100%

      a.header-nav
        font-size 14pt

      a.user
        font-size 10pt

    #context-header-nav
      li
        display block

      a.header-nav
        float none
        width 100%

      .avatar
        margin-left 5px

      .sign-out .text
        display inline
