// Dimensions
golden_ratio = 1.6180339887498948482
page_width = 960px
min_page_width = 465px
header_height = 50px
sidebar_width = 200px
content_width = 700px
edit_menu_width = 8em
carousel_width = sidebar_width
carousel_height = carousel_width / golden_ratio
dashboard_sidebar_width = 1.25 * sidebar_width
dashboard_content_width = page_width - dashboard_sidebar_width - 60px
thing_width = 300px
thing_height = thing_width / golden_ratio


// Colors
link_color = #e5aa3d
link_hover_color = #428bca
text_color = #344
medium_text_color = #666
light_text_color = #888
border_color = #ddd
text_bg_color = #fff
input_background = #fff

header_color = #ededed
header_border_color = border_color
secondary_header_color = #fafafa
secondary_header_border_color = #f0f0f0

table_header_color = #fff
table_odd_color = secondary_header_color
table_even_color = header_color
table_hover_color = #d8d8d8

google_color = #cc3d2d
facebook_color = #2b3990
twitter_color = #27aae1
github_color = #1c75bc


// Links
a, a:visited
  color link_color
  text-decoration none
  cursor pointer

a:hover, a:focus
  text-decoration underline
  outline 0

a:hover
  color link_hover_color !important

a.fa, a.fa:visited
  color light_text_color

  &:hover
    text-decoration none

a.disabled, a:hover.disabled
    color light_text_color !important
    cursor default


// Special text
.warn
  color #ff6000

.error
  color red

.success
  color green

.weak
  font-weight normal
  color light_text_color

.help
  color medium_text_color

.announce
  color link_color
  font-weight bold
  margin 3em


// Buttons
button
  border 1px solid border_color
  border-radius 3px
  background-color #eee
  background-image linear-gradient(#fcfcfc, #eee)
  padding 4px
  color link_color
  cursor pointer

  &::-moz-focus-inner
    border none

  &:hover
    color link_hover_color

  &.success
    background #5cb85c
    border-color #4cae4c
    color #fff
    transition 0.25s

    &:hover
      background #449d44
      border-color #398439

  &:disabled, &:hover:disabled, &.disabled, &.disabled:hover
    background header_color
    color light_text_color !important
    border-color border_color
    cursor default

  > .fa
    margin 0 0.25em

p > button
  margin 0 0.5em


// Inputs
.CodeMirror-focused, .tag-editor-focused, input:focus, textarea:focus,
  select:focus
  border 1px solid rgba(82, 168, 236, 0.8)
  box-shadow 0 0 8px rgba(82, 168, 236, 0.6)
  outline thin dotted \9


// Clear
.clear
  height 1px
  margin-bottom -1px
  clear both


// hr
hr
  border none
  border-bottom 1px solid border_color
  height 1px


// Code
code
  background-color rgba(200, 200, 200, 0.3)
  font-size 110%
  padding 2px
  border-radius 3px
  overflow-x auto
  white-space nowrap

pre code
  padding 0.5em 1em
  border-left 5px solid #bbb
  display block
  white-space pre

// Headings
h1, h2, h3, h4
  color light_text_color
  margin-top 0.5em
  margin-bottom 0.25em

h1
  color medium_text_color
  font-size 22pt
  font-weight normal

h2
  font-size 16pt
  color medium_text_color

h3
  font-size 14pt
  color light_text_color

// em
em
  color medium_text_color


// Paragraphs
p
  color text_color

// List
li
  color text_color
  margin 0.5em 0

// Video
video
  &.large
    max-width 100%
    width 700px
    max-height 433px

  &.small
    max-width 100%
    width 300px
    max-height 185px

  &.thumb
    max-width 100%
    width 120px
    max-height 100px


// Body
body
  background-image url(/images/grid.png)
  background-color #fdfdfd
  margin 0
  font-family 'Roboto Slab', serif


// Layout
html, body
  min-width 500px

#page
  #header
    #header-wrapper
      padding 0 1em

    #header-content
      min-width min_page_width
      max-width page_width
      min-height header_height
      margin 0 auto
      overflow hidden

  #content
    margin 0 auto
    min-width min_page_width
    max-width 100vw
    min-height 80vh
    text-overflow ellipsis

    .page-content-wrapper
      margin 0 1em

    .header-content, .page-content
      max-width page_width
      margin auto

  #footer
    color light_text_color
    min-height 1.5em
    min-width min_page_width


// Header
#header
  border-bottom 1px solid header_border_color
  background-color header_color

  a
    text-decoration none
    color medium_text_color

  .logo
    float left
    margin-right 1em
    padding 4px 0 0 0
    font-size 24pt

    img
      height header_height - 10px
      vertical-align bottom
      margin-right 0.25em

  #main-header-nav, #context-header-nav
    display inline-block
    white-space nowrap

    > *
      display inline-block

    a.header-nav > .fa-caret-down
      font-size 10pt
      line-height 10px
      margin-left 0.25em
      margin-right 0

  #main-header-nav
    float left

    a.header-nav
      text-transform uppercase
      font-size 16pt
      line-height header_height - 10px

  #explore-nav
    display none
    transition-delay 0.25s
    z-index 110
    position absolute
    padding 0
    margin 0
    background header_color
    border 1px solid border_color
    border-top none
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

    > a.header-nav
      font-size 12pt
      display block
      line-height normal
      height auto

      .fa
        width 1.75em

  #context-header-nav
    float right

  a.header-nav
    line-height header_height - 20px
    height header_height - 20px
    padding 10px
    display inline-block
    transition 0.25s

    &:hover
      color #f0ac48
      background-color #f7f9f7

  a.user
    line-height header_height - 4px
    height header_height - 4px
    padding 2px 5px


// Page header
#page #content .page-header
  font-size 22pt
  line-height 1.5em
  padding 0.5em
  color medium_text_color
  margin-bottom 0.125em

  .widgets
    font-size 16pt
    float right

    .fa
      margin-left 0.125em

    > *
      display inline-block
      margin-left 10px

      > a
        color medium_text_color

        &:hover
          color link_hover_color
          text-decoration none

  .breadcrumbs
    overflow hidden
    text-overflow ellipsis

    > *
      margin-right 0.25em

    .fa
      width 1.5em


// Footer
#footer
  border-top 1px solid border_color
  padding 0 1em
  margin-top 1em

  #footer-content
    font-size 10pt
    padding 1em 0
    margin 0 auto
    max-width page_width

    .copyright
      margin-right 1em
      white-space nowrap

    .footer-nav
      margin 0 0.5em


// Sidebar
.sidebar
  margin 0 0 1em 1em
  font-size 11pt
  color medium_text_color
  background secondary_header_color
  padding 1em
  border-radius 3px
  border 1px solid secondary_header_border_color
  width sidebar_width


// Incompatible browser
#incompatible-browser
  display none


// Login
.login
  > div
    margin 1em
    font-size 16pt

    .fa
      font-size 24pt
      width 1.125em
      vertical-align middle

    &.google a
      color google_color
      .fa
        color google_color

    &.facebook a
      color facebook_color
      .fa
        color facebook_color

    &.twitter a
      color twitter_color
      .fa
        color twitter_color

    &.github a
      color github_color
      .fa
        color github_color


// Register
.register-page
  p
    margin 1em 0

  .fa
    margin 0 0.5em

  .suggestion
    margin 0.5em


// Widgets
.stars, .followers
  .active
    color link_color

  a:hover .active
    color link_hover_color


// Logo
.logo
  .left, .right, .beta
    display inline
    font-family Audiowide

  .left
    color #444

  .right
    color link_color

  .beta
    font-size 12pt
    color medium_text_color


// Controller
.controller-page
  img
    margin 1em

// Landing
.landing-page
  text-align center
  margin-top 0 !important

  > *
    padding 0 1em
    //min-height 100vm
    //min-height 100vmin

  a.down
    display block
    margin auto
    width 2em
    text-align center
    font-size 36pt
    color #444

  .expand
    max-width 20em
    margin auto

    tt
      font-family Courier

    b
      font-weight normal

    i
      font-style normal
      text-decoration underline
      color link_color
      cursor pointer

      &:hover
        color link_hover_color

    i > b
      display none

    i.expanded
      text-decoration none
      cursor inherit
      color inherit

      &:hover
        color inherit

    i.expanded > b
      display inline

  #landing-intro
    //background-color #dedede
    //background url(/images/home-bg-gray.jpg)
    //background-size cover
    //background-repeat no-repeat
    padding 2em 0

    .banner
      padding 1em 0

      .logo
        font-size 60pt

      .byline
        color #444
        font-size 18pt

  .login button
    margin 2em 0
    padding 0.75em
    font-size 14pt
    box-shadow 4px 4px 5px #555


  #landing-info
    padding 3em 1em

    > *
      margin-top 2em
      margin-bottom 2em

  .panel
    display inline-block
    margin 0.5em 0
    text-align center
    width 10em
    vertical-align top
    color #666
    font-family Lato
    font-size 18pt

    ul
      display block
      text-align left
      font-size 12pt
      width 10em
      margin auto

  .section
    margin 6em auto
    max-width page_width
    color medium_text_color

    > *
      display inline-block

    > img
      vertical-align top

    .section-content
      text-align left
      max-width 32em
      margin 1em 4em

      > h1
        margin-top 0

@media (max-width: 755px)
  .landing-page
    .panel
      width auto
      display block

@media (max-width: 550px)
  .landing-page
    .login button
      font-size 12pt

    #landing-intro
      > img
        width 96px

      .banner
        .logo
          font-size 32pt

        .byline
          color #444
          font-size 12pt

    #landing-steps
      .section-content
        margin 1em

@media (max-width: 400px)
  .landing-page
    .panel
      width auto

// Dashboard
.dashboard
  h1
    margin 0.5em 0
    border-bottom 1px solid border_color

    a
      color medium_text_color

  .sidebar
    float right
    width dashboard_sidebar_width

    > div
      margin 0 0 4em 0

      > button
        float right

    .dashboard-profile
      > h1
        margin-top 0

      .owner
        text-align center
        margin 1em 0

    .dashboard-creations
      table
        width 100%
        border-collapse collapse
        color text_color

        .fa
          color medium_text_color

      tr
        cursor pointer

        &.even
          background rgba(200, 200, 200, 0.2)

      td
        padding 0.5em
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

        &.name
          max-width 8em

      tr:hover
        background rgba(200, 200, 200, 0.4)

        .name span
          text-decoration underline
          color link_hover_color

      .name
        width 100%

        .fa
          margin-right 0.75em

      .stars
        padding-right 1em

        .fa
          color medium_text_color

      .views, .stars
        text-align right

        .fa
          margin-left 0.5em

      .draft .name .fa
        color link_color

   .dashboard-activity
     max-width dashboard_content_width


// Explore
#page #content.explore-page .page-content
  padding 1em
  max-width initial
  text-align center

  > .loading
    max-width page_width
    margin auto

    .fa
      color medium_text_color
      font-size 24pt
      margin 0.25em

  .search
    margin-bottom 1em

    input
      width 20em

    input, button
      margin-right 0.5em

  .explore-events
    max-width page_width
    margin auto

  .tag-cloud
    margin 0 auto
    max-width 90vw
    height (page_width * 0.8 / golden_ratio)


// Learn
.learn-page
  .page-content
    > div
      margin-bottom 2em

      > div > *
        display inline-block

      > div > img
        width 75px
        vertical-align top
        margin-right 1em

      > ul
        padding-left 1em

// Create
.create-page
  .page-content .fa
    margin-right 0.5em

  th
    text-align left

  td > span
    margin 0 0.5em

  input[name=name]
    width 20em

  input[name=title]
    width 25em


// Icon link
a.icon-link
  color medium_text_color
  display inline-block
  font-family Audiowide
  font-size 28pt
  text-decoration none
  margin-bottom 0.75em
  text-align center

  .icon-wrapper
    width 158px
    height 158px
    border-radius 200px
    display inline-block
    margin 0.5em auto 0
    position relative

    img
      display block
      position absolute
      top 4px
      left 4px

  .icon-text
    margin-top -0.25em

  &:hover
    color #189ed6 !important
    text-decoration none

    .icon-wrapper
      background #189ed6


// Avatar
.avatar
  border-radius 3px
  margin 4px 4px 0 0


// Things
.things
  a:hover
    text-decoration none

  .thing-preview
    display inline-block
    margin 1em 10px 1em 10px
    width thing_width
    overflow hidden
    font-family "Times New Roman", Times, serif
    text-align left
    position relative
    border-radius 3px
    border 1px solid border_color
    background #fff

    &.draft
      .image:before
        position absolute
        content "DRAFT"
        font-size 55pt
        line-height thing_height
        transform rotate(-30deg)
        opacity 0.5
        width thing_width
        text-align center
        z-index 10
        color #000 !important

      .image:after
        position absolute
        content " "
        display block
        margin-top -(thing_height)
        width thing_width
        height thing_height
        background-color text_bg_color
        opacity 0.25

    .image
      width thing_width
      height thing_height
      border-top 1px solid #fff
      border-bottom 1px solid #fff
      background header_color
      background-image url('/images/spinner.gif')
      background-repeat no-repeat
      background-position center
      overflow hidden

      img
        background text_bg_color
        max-width thing_width
        height thing_height
        margin auto
        display block

        &.stretch
          width thing_width

      .missing
        background-color #eee
        text-align center

        .fa
          font-size 64pt
          line-height thing_height

    a:hover .image
      border-top 1px solid border_color
      border-bottom 1px solid border_color
      opacity 0.8

    .info
      margin 0 4px

    .owner
      white-space nowrap
      color text_color
      font-size 12pt
      float left

      span
        color link_color

      &:hover span
        color link_hover_color

    .title, .owner, .stars, .comments, .views, .downloads
      display block
      white-space nowrap
      padding 4px 0

    .title
      text-overflow ellipsis
      overflow hidden
      font-size 16pt
      margin 0 4px
      clear both
      color text_color

    .stars, .comments, .views, .downloads
      float right
      font-size 12pt
      margin 0 0.1em 0 0.5em
      color medium_text_color

      a
        color medium_text_color

    .fa
      font-size 11pt
      margin-left 0.25em


// Thing & Profile common
.thing-page, .profile-page
  .sidebar
    float right

    .stats
      margin-bottom 1.5em

    .details > *
      margin-bottom 0.75em

      &:last-child
        margin-bottom 0

      > div
        max-width 85%
        display inline-block
        overflow hidden
        text-overflow ellipsis
        vertical-align middle

      > .fa
        width 1.5em
        font-size 12pt

  .edit-menu
    float left
    width edit_menu_width

    background-color text_bg_color
    border 1px solid border_color
    border-radius 3px

    > a
      display block
      padding 1em

      border-top 1px solid border_color
      text-transform capitalize
      font-size 12pt
      padding 0.25em

      &:first-of-type
        border-top none

      &.active, &.active:hover
        color text_color !important
        text-decoration none
        border-left 3px solid border_color

  .view-contents, .edit-contents
    max-width content_width + 2px // Account for border

  .edit-contents
    margin-left edit_menu_width + 2em

    > h1:first-of-type
      text-transform capitalize
      border-bottom 1px solid border_color
      margin-bottom 1em

    button
      margin-top 0.5em
      margin-right 0.25em

  .view-contents
    min-width sidebar_width

    > .subsection
      padding 0 0 5em

      &:last-of-type
        padding-bottom 0

      > .actions
        float right

        > *
          display inline-block
          margin-left 0.5em

      > h1:first-of-type
        margin-top 0
        overflow hidden
        text-overflow ellipsis

      > .tags
        margin-bottom 1em

  .page-content > .actions > button
    float right
    margin 0.5em

  .markdown
    font-family Open Sans, sans-serif
    color #222
    padding 0 1em
    background text_bg_color
    border 1px solid border_color
    border-radius 3px
    word-break normal
    word-wrap break-word
    overflow auto

    img
      max-width 100%
      display block
      margin 1em auto

    p
      text-overflow ellipsis

.stats
  white-space normal
  text-align center
  padding 1em 0
  border-top 1px solid border_color
  border-bottom 1px solid border_color

  > div
    display inline-block
    width (sidebar_width / 2)
    text-align center

  .value
    font-weight bold
    font-size 18pt

  .label
    font-size 10pt

.thing-details-editor, .profile-details-editor, .thing-dangerous
  > div
    margin-bottom 2em

    > input, > select, > .tag-editor, > p
      width 30em


// Thing
.thing-page
  .draft
    font-size 20pt
    color light_text_color
    text-align center
    margin-bottom 1em

  .sidebar
    .carousel
      overflow visible
      margin 0 auto 2em
      max-width initial

      .expand
        margin-top -0.25em

        .fa
          font-size 16pt
          color text_bg_color
          background medium_text_color
          width 22px
          height 22px
          padding 3px

  .delete-thing, .rename-thing
    display inline-block
    position relative

    .modal
      min-width 20em

.thing-name-validator
  > input
    width 30em

  .fa
    margin 0 0.5em


// Profile
.profile-page
  .sidebar
    > .avatar
      margin 0 auto 1em auto
      display block

// Profiles
.profiles
  > a
    text-align left
    display inline-block
    color text_color

    &:hover, a:hover
      text-decoration none
      color link_hover_color

    .avatar
      display block
      border-radius 4px
      margin auto
      vertical-align middle

    .footer
      white-space nowrap

    .name
      overflow hidden
      text-overflow ellipsis

    .points
      float right

.profiles-large .profiles > a
  width 150px
  margin 1em 1em 1em 0

  .avatar
    border 1px solid border_color
    width 150px
    height 150px

  &:hover .avatar
    border 1px solid #444

.profiles-small .profiles > a
  margin 0 0.25em 0.25em 0
  text-align center

  .name, .points
    display none

  .avatar
    max-width 32px
    max-height 32px


// Profile
.profile-page
  .things
    text-align center

    .thing-preview
      margin 1em 1.5em

.profile-edit-picture
  .dropzone
    width 150px
    height 150px
    border 1px solid border_color
    text-align center
    background-color white

    .avatar
      margin 0
      border-radius 0
      max-width 150px
      max-height 150px

  .progressbar
    width 200px
    margin 0.5em 0


// Comments
.comment
  margin 0 0 2em 0
  position relative

  > .comment, > .comments
    margin-top 2em
    margin-left 1em

  .avatar
    position absolute

  .comment-wrapper
    border-radius 3px
    border 1px solid border_color
    margin-left 50px
    position relative

    &:before, &:after
      width 0
      height 0
      content ' '
      display block
      border-color transparent
      border-style solid solid outset
      position absolute
      top 12px
      left -16px

    &:before
      border-right-color border_color
      border-width 8px

    &:after
      border-right-color header_color
      border-width 8px
      margin-left 1px

  .comment-header
    border-top-left-radius 3px
    border-top-right-radius 3px
    border-bottom 1px solid border_color
    padding 0.5em
    background header_color
    color light_text_color
    font-size 80%
    height 2.5em
    line-height 2.5em

    > a
      color text_color
      font-weight bold

    .actions
      float right
      white-space nowrap

      > *
        margin-left 0.5em

      > .fa
        font-size 12pt

      > a
        color medium_text_color

  .comment-content
    max-height 60em
    overflow auto

    .markdown
      padding 0.5em
      border none

    .markdown-editor
      border none


// Tag cloud
.tag-cloud
  font-size 10pt
  line-height normal
  color #e5aa3d
  overflow hidden
  position relative
  width page_width
  height (page_width / golden_ratio)

  a
    font-size inherit
    text-decoration none
    color inherit

  span
    padding 0

  .w9
    font-size 352%
    color #e5aa3d

  .w8
    font-size 206%
    color #e0ab4b

  .w7
    font-size 266%
    color #dbad59

  .w6
    font-size 231%
    color #d7af67

  .w5
    font-size 201%
    color #d2b175

  .w4
    font-size 175%
    color #cdb383

  .w3
    font-size 152%
    color #c9b591

  .w2
    font-size 132%
    color #c4b79f

  .w1
    font-size 115%
    color #bfb9ad

  .w0
    font-size 100%
    color #bbbbbb


// Tag Editor
.tag-editor
  display inline-block
  border 1px inset border_color
  border-radius 3px
  background-color input_background

  .tag-editor-wrapper
    overflow hidden

  &.tag-editor-focused
    border 1px solid rgba(82, 168, 236, 0.8)

  .tag-editor-tag
    border-radius 3px
    background link_color
    margin 4px
    padding 2px 4px
    display inline-block

  .tag-editor-text
    font-size 14px
    display inline-block

  .tag-editor-delete
    color medium_text_color
    font-weight bold
    text-decoration none
    cursor pointer
    margin-left 6px
    display inline-block

  .tag-editor-input
    font-size 14px
    padding 2px 4px
    border none
    outline none
    width 100%
    background transparent

    &:focus
      box-shadow none

  .tag-editor-measure
    position absolute
    left -999px


// Events
.events .event
  padding 0.5em
  color medium_text_color
  overflow hidden
  text-overflow ellipsis
  text-align left

  &.even
    background rgba(200, 200, 200, 0.2)

  .when
    display inline-block
    margin 0 1em
    font-size 10pt

  .fa
    font-size 18pt
    color light_text_color
    vertical-align middle

  img
    vertical-align middle

// Markdown
input, textarea, select
  border 1px inset border_color
  border-radius 3px
  padding 4px
  background-color input_background

.markdown-editor
  border-radius 3px
  background text_bg_color
  border 1px solid border_color
  white-space normal

  .markdown-header .actions
    float right
    color light_text_color

    > *, > button
      margin 0.0625em 0.125em 0.0625em 0.5em

  .modified
    margin 0.25em 0.125em
    font-size 8pt
    float left
    color light_text_color

  .fullscreen-btn
    vertical-align bottom
    font-size 22pt
    cursor pointer

  .fullscreen-msg
    color medium_text_color
    font-size 18pt
    display none

  .markdown-menu
    background-color #f3f3f3
    border-bottom 1px solid border_color
    border-top-left-radius 3px
    border-top-right-radius 3px
    padding 0.25em 0.25em 0 0.25em

    a
      display inline-block
      background-color text_bg_color
      margin-bottom -1px
      border-top-left-radius 3px
      border-top-right-radius 3px
      border 1px solid border_color
      padding 0.25em
      margin-left 0.25em

      &.active
        border-bottom 1px solid text_bg_color

      &:hover
        text-decoration none

  .markdown-toolbar
    .button-group
      display inline-block
      margin 0.25em 1em 0.25em 0.25em

      a
        display inline-block
        border 1px solid border_color
        padding 0.125em 0.25em
        border-right none
        background-color #eee
        background-image linear-gradient(#fcfcfc, #eee)

        &:hover
          text-decoration none

        &:first-of-type
          border-top-left-radius 3px
          border-bottom-left-radius 3px

        &:last-of-type
          border-top-right-radius 3px
          border-bottom-right-radius 3px
          border-right 1px solid border_color

        &.disabled, &:hover.disabled
          background-color header_color
          color light_text_color !important
          border-color border_color
          cursor default

  .markdown-help
    border-bottom 1px solid border_color
    font-size 90%
    min-height 13em

    .markdown-help-menu, .markdown-help-submenu
      float left
      min-height 13em
      transition 0.5s

      a
        display block
        padding 0.25em 0.5em
        margin 0
        border-top 1px solid transparent
        border-bottom 1px solid transparent
        transition 0.5s

        &:first-of-type
          margin-top 0.75em

        &:hover
          text-decoration none
          box-shadow 0 1px 2px #f0f0f0
          background-color text_bg_color

        &.active, &.active:hover
          box-shadow 0 1px 2px #f0f0f0
          background-color text_bg_color
          color text_color !important
          border-top 1px solid border_color
          border-bottom 1px solid border_color

    .markdown-help-submenu
      background-color #f3f3f3
      margin-right 0.5em
      border-right 1px solid border_color
      border-left 1px solid border_color

    .markdown-help-content
      padding 0.5em
      font-size 95%
      color medium_text_color
      transition 0.5s
      overflow auto

      p:first-of-type
        margin-top 0

  .markdown-toolbar
    border-bottom 1px solid border_color
    display none

  .markdown-footer
    padding 0.25em
    text-align right
    font-size 10pt
    font-family 'courier 10'
    color light_text_color
    background-color secondary_header_color
    border-top 1px solid border_color

  .markdown-preview
    overflow auto
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    word-break normal
    word-wrap break-word
    min-height 5em

    .markdown
      padding 0 1em
      border-radius 0
      border 0
      background transparent

  .CodeMirror
    border 1px solid text_bg_color
    background-color text_bg_color

    &.CodeMirror-focused
      border 1px solid rgba(82, 168, 236, 0.8)

  .CodeMirror-lines
    padding 1em 0

  .CodeMirror pre
    padding 0 1em

  .CodeMirror-empty
    color light_text_color
    font-size 100%

  &.fullscreen
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 200
    overflow-x hidden

    .fullscreen-msg
      display inline

    .markdown-menu > a
      display none

    .markdown-toolbar
      display block

    .markdown-header, .markdown-footer
      display block

    .markdown-edit, .markdown-preview
      height 100%
      overflow-y scroll
      display inline-block
      width 50%
      vertical-align top

    .markdown-preview
      border-radius 0

    .CodeMirror
      height auto

    .CodeMirror-focused
      border 1px solid transparent
      box-shadow none


// Media selector
.media-selector
  max-width 600px
  text-align center
  margin-left -100px

  .media
    display inline-block

    img, video
      vertical-align middle
      border 2px solid transparent
      border-radius 3px
      background #eee
      transition 0.25s
      max-width 100px
      max-height 100px
      margin 1em

    &:hover
      img, video
        border 2px solid #888

    &.selected
      img, video
        border 2px solid #444


// Youtube selector
.youtube-selector
  .fa
    font-size 24pt
    color #df2220
    margin-right 10px
    display inline-block

  input
    width 30em

iframe.youtube
  width 100%
  height 385px


// Progressbar
.progressbar
  background-color #f5f5f5
  border-radius 3px
  box-shadow 0 1px 2px rgba(0, 0, 0, 0.1) inset
  text-align center
  overflow hidden
  line-height 2em

  > div
    background-color link_hover_color
    height 2em
    line-height 2em


// Top
#top
  position fixed
  display none
  text-align right
  right 10px
  bottom 30px
  width 8em
  text-align center

  a:hover
    text-decoration none

  .fa
    display block
    font-size 32pt

// Notify
.notify-overlay
  background-color rgba(0, 0, 0, 0.2)

.notify-dialog
  z-index 110
  position fixed
  top 10%
  left 50%
  width 30em
  margin-left -15em
  border-radius 3px
  border 1px solid #aaa
  background-color text_bg_color
  overflow hidden

  > *
    padding 0.5em

  .notify-dialog-header
    background-color header_color
    font-size 14pt
    border-bottom 1px solid border_color

    .fa
      font-size 20pt
      margin-right 0.5em
      vertical-align top

  .notify-dialog-body
    overflow-y auto

  .notify-dialog-footer
    background-color secondary_header_color
    text-align right
    border-top 1px solid border_color

    button
      margin-left 0.5em


// Modal
.modal
  position absolute
  background text_bg_color
  border-radius 3px
  border 1px solid border_color
  z-index 110
  text-align left
  font-size 12pt
  color text_color
  white-space normal

  &.callout-top-right
    right: -10px

  .modal-header, .modal-content, .modal-footer
    padding 1em

  .modal-header, .modal-footer
    color medium_text_color
    white-space nowrap

  .modal-header
    font-weight bold
    background-color secondary_header_color
    border-bottom 1px solid border_color
    border-top-left-radius 3px
    border-top-right-radius 3px

  .modal-footer
    text-align right

    button
      margin-left 0.5em
      text-transform capitalize

.modal-overlay
  background-color rgba(0, 0, 0, 0.1)


// Overlay
.overlay
  z-index 100
  position fixed
  top 0
  left 0
  width 100%
  height 100%


// Callouts
.callout-top-right, .callout-top-left
  &:before, &:after
    width 0
    height 0
    content ' '
    display block
    border-color transparent
    border-style solid solid solid
    position absolute
    right 12px
    top -15px

  &:before
    border-bottom-color border_color
    border-width 8px

  &:after
    border-bottom-color secondary_header_color
    border-width 8px
    margin-top 1px

.callout-top-right
  &:before, &:after
    right 12px

.callout-top-left
  &:before, &:after
    left 12px


// File manager
.file-manager
  border 1px solid border_color
  border-radius 3px
  background-color text_bg_color

  .file-manager-footer
    padding 1em
    border-top 1px solid border_color
    padding-top 3em

  .progressbar.waiting
    background-color link_color
    text-align center

    > div
      display none

    &:before
      content "Waiting"

  .bb-modal .body
    text-align right

  table
    width 100%

  td, th
    white-space nowrap
    font-size 10pt
    padding 0.5em 0.75em

  th
    color medium_text_color
    text-align left

    &.name
      padding-left 2.5em

  td
    color text_color

    .fa
      font-size 12pt
      color light_text_color
      text-align center

  th, td
    &.name, &.caption
      overflow hidden
      text-overflow ellipsis

    &.name .fa
      width 1.5em

    &.caption
      white-space normal
      width 90%

    &.size, &.downloads
      text-align right

    &.actions
      text-align center

      .delete
        position relative

      .delete, .edit
        display inline-block

      a
        color light_text_color
        margin 0.25em

        &.disabled
          color #ccc !important

  .file-editor
    position fixed
    left 50%
    top 1em
    margin-left -20em
    width 40em

    .modal-content
      > .fa, > img
        display block
        margin 0.5em auto

      > .fa
        width 32pt
        font-size 32pt
        color light_text_color

      > img
        max-width 150px
        max-height 150px

      > p
        font-size 12pt
        text-align center

    .modal-header h1
      margin 0
      border-bottom none
      text-transform none

    label
      display block
      margin 0.125em

    input[type=text]
      width 98%

// Table
.table
  border-collapse collapse

  th
    .fa-caret-up, .fa-caret-down
      display none

    .fa
      width 1em

  th.st-sort-ascent, th.st-sort-descent
    .fa-caret-right
      display none

  th.st-sort-ascent .fa-caret-up
    display inline-block

  th.st-sort-descent .fa-caret-down
    display inline-block

.table-striped > thead
  > tr:first-child > th
    background-color table_header_color

.table-striped > tbody
  > tr:nth-child(odd) > td
    background-color table_odd_color

  > tr:nth-child(even) > td
    background-color table_even_color

  > tr:hover > td
    background-color table_hover_color

.modal-active .table-striped > tbody
  > tr:nth-child(odd):hover > td
    background-color table_odd_color

  > tr:nth-child(even):hover > td
    background-color table_even_color


// Carousel
.carousel
  text-align center
  width carousel_width + 2px // Account for border
  height carousel_height + 2px // Account for border
  position relative

  .expand
    position absolute
    right -0.75em
    z-index 10
    margin-right 1em
    font-size 24pt
    color medium_text_color
    opacity 0.75

    &:hover
      opacity 1

      .fa
        color medium_text_color

  .slick-prev, .slick-next
    width 40px
    height 40px

    &:before
      color medium_text_color
      font-size 24pt
      line-height 40px

  .slick-prev, .slick-next, .expand
    opacity 0
    visibility hidden
    transition opacity 0.5s linear
    transition 0.5s

  &:hover
    .slick-prev, .slick-next, .expand
      opacity 1
      visibility visible

  .slick-list
    border-radius 3px
    border 1px solid border_color
    background-color header_color
    background-image url('/images/spinner.gif')
    background-repeat no-repeat
    background-position center
    height carousel_height

  &.changing .slick-list
    background-image none

  img, video
    max-width carousel_width
    height carousel_height
    display inline-block
    background-color text_bg_color
    vertical-align middle

  .stretch
    width carousel_width

  .carousel-empty
    height carousel_height
    line-height carousel_height
    font-size 150%
    background header_color

  &.fullscreen
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 200

    .slick-list
      background-image url('/images/spinner-black.gif')

    &.changing .slick-list
      background-image none

    .slick-list
      background-color #000
      height 100%
      border 0
      border-radius 0

    .slick-prev
      left 10px

    .slick-next
      right 10px

    .slick-track
      height 100%
      line-height 100%

    .carousel-media::before
      content ''
      display inline-block
      height 100%
      vertical-align middle

    .carousel-media
      img, video
        height initial
        width initial
        max-height 90%
        max-width 90%
        display inline-block
        vertical-align middle


// User Status
.user-status
  .sign-out
    font-size 14pt

    .text
      display none

  &.user, &.sign-out
    display inline-block !important

  a
    color medium_text_color
    line-height header_height
    height header_height

  a.user
    position relative
    line-height header_height - 4px
    height header_height - 4px
    padding 2px 5px
    vertical-align 1px

    > *
      display inline-block
      margin-right 0.5em

    .avatar
      vertical-align -10px

  &.admin .user .name
     text-shadow 0 0 1px link_color


// About page
.docs-page
  .company-man
    margin 1em 0
    color text_color
    min-height 175px
    clear both

    img
      float left
      margin 0 2em 1em 0
      border-radius 5px

// Mailchimp signup
#mc_embed_signup
  clear left
  font 14px Helvetica, Arial, sans-serif
  max-width 500px

  form
    display block
    position relative
    text-align left
    padding 10px 0 10px 3%

  input
    margin 1em
    border 1px solid #abb0b2
    border-radius 3px

    &:focus
      border-color #333

  .button
    clear both
    background-color #aaa
    border 0 none
    border-radius 4px
    transition  all 0.23s ease-in-out 0s
    color #ffffff
    cursor pointer
    display inline-block
    font-size 15px
    height 32px
    line-height 32px
    margin 0 5px 10px 0
    padding 0 22px
    text-align center
    text-decoration none

    &:hover
      background-color #777

// Responsive
size_page_content(screen, content)
  @media (max-width: screen)
    .thing-page, .profile-page
      .view-contents, .edit-contents
        max-width content

size_page_content(1000px, 650px)
size_page_content( 950px, 600px)
size_page_content( 900px, 550px)
size_page_content( 850px, 500px)
size_page_content( 800px, 450px)
size_page_content( 750px, 750px)

@media (max-width: 750px)
  #page #header-content
    > *
      float none
      display block

    #main-header-nav a.header-nav
      line-height normal

  #page #content .page-header .widgets
    display block
    float none

  #page
    .thing-page, .profile-page, .dashboard
      .sidebar
        float none
        width auto
        margin 1em 0

    .dashboard .sidebar
      background none
      border none
      padding 0


@media (max-width: 500px)
  h1
    font-size 18pt

  .events .event
    font-size 10pt
