page_width = 960px
min_page_width = 200px
header_height = 60px

link_color = #e5aa3d
link_hover_color = #428bca
text_color = #344
medium_text_color = #666
light_text_color = #888
highlight_color = #fdaa4d
border_color = #aaa

thing_width = 300px
thing_height = ((thing_width) / 1.618)


// Links
a, a:visited
  color link_color
  text-decoration none

a.fa, a.fa:visited
  color light_text_color

a:hover, a:focus
  text-decoration underline
  text-decoration-color border_color

a:hover
  color link_hover_color !important


body
  background-image url(/images/grid.png)
  margin 0
  font-family 'Roboto Slab', serif


#page
  #header
    background-color #e1e1e1
    border-bottom 1px solid #878787

    #header-content
      min-width min_page_width
      max-width page_width
      min-height header_height
      margin 0 auto
      overflow hidden

    a
      text-decoration none
      color #666

    .logo
      height header_height - 10px
      margin 5px 20px 0 5px
      vertical-align top
      display inline-block
      float left

    #main-header-nav, #context-header-nav
      list-style none
      padding 0
      margin 0
      white-space nowrap

      > li
        display inline-block

    #main-header-nav
      float left

      a.header-nav
        text-transform uppercase
        font-size 18pt
        line-height: header_height - 20px

    #context-header-nav
      float right

    a.header-nav
      line-height header_height - 20px
      height header_height - 20px
      padding 10px
      display inline-block
      transition 0.25s
      font-size 12pt

      &:hover
        color: #f0ac48
        background-color #f7f9f7

    a.user
      width 150px
      height header_height - 12px
      padding 6px
      font-size 10pt
      line-height 24px
      text-align center
      vertical-align middle
      margin-top -9px

      .avatar
        float left
        border-radius 5px
        width 40px
        margin 4px 4px 0 0

      .points .fa
        color: #f0ac48
        margin-right 5px

    a.sign-out
      font-size 18pt

      .text
        display none

      .fa
        margin-left 10px

    .clear
      height 1px
      margin-bottom -1px
      clear both

  #content
    margin auto
    min-width min_page_width
    max-width page_width
    min-height 1200px
    margin-bottom 2em

  #footer
    width 100%
    min-height 1.5em
    background-color #e1e1e1
    border-top 1px solid #878787

    #footer-content
      min-width min_page_width
      max-width page_width
      margin auto

    .copyright
      margin-right 10px

    .footer-nav
      margin 0 6px

// Stars
.stars .user-starred
  color highlight_color

// Things
.things
  list-style none
  padding 0

  .thing-preview
    position relative
    display inline-block
    margin 0 8px 1em 8px
    width thing_width
    overflow hidden
    cursor pointer
    font-family "Times New Roman", Times, serif
    font-size 18pt

    .image
      width thing_width - 2px
      height thing_height
      border-radius 6px
      border 1px solid #ddd

      &.missing
        background-color #eee
        text-align center

        .fa
          font-size 64pt
          line-height: thing_height

    a:hover
      .image
        border 1px solid border_color

    .info
      margin 0 0.2em

    .owner
      white-space nowrap
      color text_color

      span
        color link_color

    .title, .owner, .stars, .comments
      display block
      white-space nowrap

    .stars, .comments
      font-size 12pt
      margin 0 0.1em 0 0.5em
      color light_text_color

      &:hover
        color text_color

    .fa
      font-size 11pt

    .owner
      font-size 12pt
      float left

    .stars
      float right

    .comments
      float right

    .title
      margin 0 0.2em
      clear both
      color text_color

// Profile
.profile
  .menu
    list-style none
    margin 0 0 1em 0
    padding 0
    border-bottom 1px solid border_color

    li
      display inline-block
      text-transform capitalize
      padding 0.25em
      font-size 18pt
      margin-right 5px
      margin-bottom -3px
      border-top-left-radius 5px
      border-top-right-radius 5px
      transition 0.5s

      &:before
        content "|"
        margin-right 1em
        color medium_text_color

      &:first-of-type:before
        display none

      &.active
        a, a:hover
          color medium_text_color !important

      a, a:active, a:visited, a:hover
        text-decoration none
        outline none

  .picture
    max-width 200px
    max-height 200px
    border-radius 3px
    margin-right 1em
    margin-bottom 1em
    float left

  button.edit
    float right
    margin-bottom 1em

  th, td
    padding 0.25em

  th
    text-align right

  .bio
    clear left

// Sign in
#page #header a.header-nav
  &.user, &.sign-out
    display none

.authorized #page #header a.header-nav
  &.sign-in
    display none !important

  &.user, &.sign-out
    display inline-block !important


// Responsive
@media (max-width: 730px)
  #page #header #context-header-nav
    a.header-nav
      float none
      width 100%

@media (max-width: 400px)
  #page #header
    #main-header-nav, #context-header-nav
      float none
      display block
      clear both
      width 100%

      a.header-nav
        font-size 14pt

      a.user
        font-size 10pt

    #context-header-nav
      li
        display block

      a.header-nav
        float none
        width 100%

      .avatar
        margin-left 5px

      .sign-out .text
        display inline
