#footer
  span.copyright
    | &copy; 2014-
    script document.write(new Date().getFullYear() + ' ')
    | BuildBotics LLC.

  a.footer-nav(href="/terms") Terms
  a.footer-nav(href="/privacy") Privacy
  a.footer-nav(href="/contact") Contact
