#footer
  span.copyright
    | &copy; 2014-
    script document.write(new Date().getFullYear() + ' ')
    | BuildBotics LLC.

  a.footer-nav(href="/docs/terms") Terms
  a.footer-nav(href="/docs/privacy") Privacy
  a.footer-nav(href="/docs/about") About
  a.footer-nav(href="/docs/contact") Contact
