#header(v-show="currentPage != 'landing'")
  #header-content
    a.logo(v-attr="href:user.name ? '/dashboard' : '/'")
      img(src="/images/squid_dude-40x40.png" alt="Buildbotics logo")
      .left Build
      .right botics

    #main-header-nav
      div
        a.header-nav(v-on="click:openExploreNav")
          | Explore
          .fa.fa-caret-down

        #explore-nav
          a.header-nav(v-on="click:closeExploreNav" href="/explore/creations")
            | Creations
          a.header-nav(v-on="click:closeExploreNav" href="/explore/people")
            | People
          a.header-nav(v-on="click:closeExploreNav" href="/explore/tags")
            | Tags
          a.header-nav(v-on="click:closeExploreNav" href="/explore/activity")
            | Activity

      a.header-nav(href="/learn") Learn
      a.header-nav(href="/create") Create

    #context-header-nav
      a.header-nav.sign-in(v-on="click:initiateLogin") Login or Register

      a.header-nav.user(href="/{{user.name}}")
        bb-avatar(name="{{user.name}}")
        .name {{user.name}}
        bb-points(points="{{user.points}}")

      a.header-nav.sign-out(v-on="click:logout() | preventDefault"
        title="Sign Out")
        .fa.fa-sign-out
        span.text Sign Out

    .clear
