#header
  #header-content
    a(href="/")
      img.logo(src="/images/buildbotics_banner.png"
        alt="Buildbotics logo, expore, learn, create")

    ul#main-header-nav
      li.explore-item
        a.header-nav(href="/explore/creations") Explore
        ul#explore-nav
          li: a.header-nav(v-on="click:closeExplore" href="/explore/creations")
            | Creations
          li: a.header-nav(v-on="click:closeExplore" href="/explore/people")
            | People
          li: a.header-nav(v-on="click:closeExplore" href="/explore/tags")
            | Tags

      li: a.header-nav(href="/learn") Learn
      li: a.header-nav(href="/create") Create

    ul#context-header-nav
      li: a.header-nav.sign-in(v-on="click:initiateLogin") Login or Register

      li: a.header-nav.user(href="/{{user.name}}#profile")
        img.avatar(v-attr="src:user.avatar")
        .user-info
          .name {{user.name}}
          bb-points(points="{{user.points}}")

      li: a.header-nav.sign-out(href="#" v-on="click:logout() | preventDefault"
        title="Sign Out")
        span.text Sign Out
        .fa.fa-sign-out

    .clear
