center
  img(src='/images/buildbotics_explore_create_learn.png')
.actions
  .panel.panel-default
    .panel-heading: a(href="/explore") Explore
    .panel-body
      | Explore things for CNC, 3D printing and LASER.

  .panel.panel-default
    .panel-heading: a(href="/create") Create
    .panel-body
      | Create and share your designs with the community.
      | Earn <a href="/points">points</a> and
      | <a href="/badges">badges</a> to unlock extra features.

  .panel.panel-default
    .panel-heading: a(href="/build") Build
    .panel-body
      | Build and sell designs created by you or others.
