.navbar-contents(ng-cloak)
  ul.nav.navbar-header
    li: a.title(href='/')
      img.banner(src='/images/buildbotics_banner.png',
        alt='Buildbotics logo, expore, create, build')
  ul.nav.navbar-nav.navbar-header.nav-pills
    li: a(href='/explore') explore
    li: a(href='/create') create
    li: a(href='/build') build

  .navbar-collapse.navbar-right
    ul.nav.navbar-nav
      li.dropdown(ng-switch-when='true' dropdown)
        a.dropdown-toggle(dropdown-toggle)
          .marker.fa.fa-caret-down
          img.avatar(ng-src='{{user.avatar}}')
          .user-info
            .user-name(title='Your account name.') {{user.name}}
            .user-points
              span.points(title='Your points.')
                span.fa.fa-certificate
                | {{user.points}}
              span.badges(title='Your badges.')
                span.fa.fa-shield
                | {{user.badges}}
        ul.dropdown-menu(role='menu')
          li: a.profile(href='/{{user.name}}')
            span.fa.fa-user
            | View Profile
          li: a.settings.icon(href='/create')
            span.fa.fa-plus-circle
            | New Thing
          li: a.activity.icon(href='/{{user.name}}#activity')
            span.fa.fa-bar-chart
            | Recent Activity
          li: a.settings.icon(href='/settings')
            span.fa.fa-gear
            | Edit Settings
          li: a.logout.icon(href='#', ng-click='logout($event)')
            span.fa.fa-sign-out
            | Sign out

      li.dropdown.login-dropdown(ng-switch-default dropdown)
        a.dropdown-toggle(dropdown-toggle)
          .marker.fa.fa-caret-down
          | Login or register

        ul.dropdown-menu.login-menu(role='menu')
          each provider in 'google facebook github'.split(' ')
            - var url = "/api/auth/" + provider
            li: a.login(class=provider href=url)
              - var klass = (provider == 'google') ? 'google-plus' : provider
              span.fa(class='fa-' + klass + '-square')
              | with #{provider}

  form.navbar-form.navbar-left(role='search')
    input.form-control(type='text' placeholder='Search Buildbotics')
