    .steps
      .edit-row
        button.btn(ng-show='is_owner' ng-click="edit('steps')") Edit
        h3 Steps

      .step(ng-repeat='step in thing.steps')
        carousel(ng-show='step.images.length' interval='5000')
          slide(ng-repeat='image in step.images')
            img(ng-src='{{image.url}}')
            .carousel-caption {{image.caption}}

        .edit-row
          button.btn(ng-show='edit.step'
            ng-click="cancel('step')") Cancel
          button.btn.btn-primary(ng-show='edit.step'
            ng-click="save('step')") Save
          button.btn(ng-show='!edit.step && is_owner'
            ng-click="edit('step')") Edit
          h3 Description
        markdowneditor(ng-show='edit.step' ng-model='step.description')
        markdown(ng-show='!edit.step' ng-model='step.description')
