body {
	margin:0;
	min-width:700px;
	font-family: "Arial Black", Gadget, sans-serif;
}

/* position:absolute for all browsers - the whole page scrolls */
div#headerwrap {
	background: #ededed;
	position:absolute;
	width:100%;
	max-width: 1000px;
	top:0;
	left:0;
	height:80px;
	position:fixed;
}

.header
{
	background: #ccc;
	width:100%
	height: 80px;
	margin: 0px auto;
	display: inline;
}

#navcontainer
{
padding: 0;
background: transparent;
height: 20px;
width: 100%;
}

#navlist
{
margin: 0px;
padding: 0px 0px;
display: block;
}

#navlist li
{
list-style: none;
float: left;
}

#navcontainer a, #navlist li.extend
{
margin: 0px;
display: block;

border-right: 2px solid black;
border-bottom: 2px solid black;
padding: 1px 6px;
text-decoration: none;
background: #ededed;
font-family: "Arial Black", Gadget, sans-serif;
font-weight: 100;
font-size: 18px;
color: black;
}

#navcontainer a:hover
{
padding: 1px 5px;
background: #eda92f;
border-right: 1px solid #333;
border-left: 1px solid #333;
border-top: 1px solid #ccc;
border-bottom: 1px solid #333;
color: #000;
}

#navcontainer a.current
{
background: #ccc;
border-top: 1px solid #ccc;
font-weight: bold;
}

#navcontainer li.active
{
background: #ccc;
border-right: 2px solid #828282;
border-bottom: 2px solid #828282;
}

div#middlewrap {
  width: 100%;
  max-width: 1000px;
	padding:80px 0 0 0;
	margin-left:0;
}

div#middle {
	margin:0 auto;
}


div#content {
	background:transparent;
	padding:0px;
	margin-left:0px;	
}

.mainbodytable{
  width: 100%;
	word-wrap: normal;
	padding-left: 0px;
	background-color: #eda92f;
}

.darkgreycell {
	width: auto;
	background-color:black;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: bold;
	font-size: 40px;
	font-weight: 10;
	color: #eda92f;
}

div#footerwrap {
	width:100%;
	max-width: 1000px;
	bottom:0;
	left:0;
	height:120px;
	position:fixed;
	background-color: transparent;
	font-weight: bold;
}
div#footer {
	height:50px;
	width:100%;
	margin:0 auto;
}

.footer
{
	height: 62px;
	padding: 5px;
	margin: 0px auto;
	
}

div #footer p {
	margin:0;
	padding:0;
}

.copyright {
	color: brown;
}

.footerlinks{
	color: black;
}

.whyjoin {
  border-collapse: collapse;
  background: transparent;
}
.whyjoin td{
	border: 2px solid #eda92f;
	padding-left: 10px;
}

.learn_table {
	font-size: large;
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}

.learn_table td {
  border: 2px solid #eda92f;
  padding-left: 10px;
}

.learn_list {
  list-style-type: none;
}

.create_table {
	font-size: 24px;
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}

.create_table td {
  border: 2px solid #eda92f;
  padding-left: 10px;
}
  

	


